@using Ordina.StichtingNuTwente.Models.ViewModels
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor
@model GastgezinPlaatsingsInfoPartial
@{
    var canEdit = User.HasClaims("groups", "group-coordinator", "group-superadmin");
}

<tr class="hide hidden @(Model.Index%2==0?"dark-row":"")" id="@Model.Index">
    <td colspan="@Model.Columns">
        <div class="row" style="margin:0px;padding:0px;">
            @if (Model.GastgezinId > 0)
            {
                //Show coordinator comment on "BeschikbareGastGezinnen page"
                //Editing disabled for secretariaat
                @if (Accessor.HttpContext.Request.Path.Value == "/BeschikbareGastgezinnen")
                {
                    <div class="form-group col-12">
                        <label for="comments-@Model.GastgezinId">Opmerkingen</label>
                        <textarea class="form-control" id="comments-@Model.GastgezinId" rows="3" @(canEdit? "":"disabled")>@Model.CoordinatorOpmerking</textarea>
                    </div>
                    <div class="form-group col-1">
                        <button id="comments-save-@Model.GastgezinId" class="btn btn-primary" @(canEdit? "":"hidden")>Opslaan</button>
                    </div>
                }
                //Otherwise show on vrijwilliger comment
                else
                {
                    <div class="form-group col-12">
                        <label for="comments-@Model.GastgezinId">Opmerkingen</label>
                        <textarea class="form-control" id="comments-@Model.GastgezinId" rows="3">@Model.VrijwilligerOpmerking</textarea>
                    </div>
                    <div class="form-group col-1">
                        <button id="comments-save-@Model.GastgezinId" class="btn btn-primary">Opslaan</button>
                    </div>
                }
            }
        </div>
    </td>
</tr>
<script>
    $("#comments-save-@Model.GastgezinId").on("click", function() {
        let comments = $("#comments-@Model.GastgezinId").val();
        if (!comments) comments = "";
        let id = @Model.GastgezinId;
        $.ajax({
            url: "@((Accessor.HttpContext.Request.Path.Value == "/BeschikbareGastgezinnen")? "/Gastgezin/UpdateCommentCoordinator" : "/Gastgezin/UpdateCommentVrijwilliger")",
            type: "POST",
            dataType: 'text',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: { "comments": comments, "gastgezinId": id },
            success: function() {
                location.reload();
            },
            error: function() {
                window.location = "/Error";
            }
        });
    })
</script>