@using Ordina.StichtingNuTwente.Models.ViewModels
@model GastgezinPlaatsingsInfoPartial

@if (Model.PlaatsingsInfo != null)
{
    <tr class="hide hidden @(Model.Index%2==0?"dark-row":"")" id="@Model.Index">
        <td colspan="@Model.Columns">
            <div class="row" style="margin:0px;padding:0px;">
                <div class="row row-cols-2">
                    <div class="col">
                        <div class="col"><b>Kleine kinderen:</b> @Model.PlaatsingsInfo?.KleineKinderen</div>
                        <div class="col"><b>Volwassenen en grotere kinderen:</b> @Model.PlaatsingsInfo?.VolwassenenGrotereKinderen </div>
                        <div class="col"><b>Slaapkamer ruimte:</b> @Model.PlaatsingsInfo?.SlaapkamerRuimte</div>
                        <div class="col"><b>Privacy:</b> @Model.PlaatsingsInfo?.Privacy</div>
                        <div class="col"><b>Opbergruimte:</b> @Model.PlaatsingsInfo?.Opbergruimte</div>
                        <div class="col"><b>Faciliteiten:</b> @Model.PlaatsingsInfo?.Faciliteiten</div>
                        <div class="col"><b>Zelf koken:</b> @Model.PlaatsingsInfo?.ZelfKoken </div>
                        <div class="col"><b>Daglicht slaapkamer:</b> @Model.PlaatsingsInfo?.DaglichtSlaapkamer</div>
                        <div class="col"><b>Roken:</b> @Model.PlaatsingsInfo?.Roken</div>
                        <div class="col"><b>Alchohol&drugs:</b> @Model.PlaatsingsInfo?.AlchoholEnDrugs</div>
                        <div class="col"><b>Belemmeringen:</b> @Model.PlaatsingsInfo?.Belemmering</div>
                    </div>
                    <div class="col">
                        <div class="col"><b>Gezinssamestelling</b> @Model.PlaatsingsInfo?.GezinsSamenstelling</div>
                        <div class="col"><b>Veilige Opbergplaats:</b> @Model.PlaatsingsInfo?.VeiligeOpbergruimte</div>
                        <div class="col"><b>Huisderen aanwezig:</b> @Model.PlaatsingsInfo?.HuisdierenAanwezig</div>
                        <div class="col"><b>Huisderen mogelijk:</b> @Model.PlaatsingsInfo?.HuisdierenMogelijk</div>
                        <div class="col"><b>Allergien:</b> @Model.PlaatsingsInfo?.Allergieen</div>
                        <div class="col"><b>Vluchteling ophalen:</b> @Model.PlaatsingsInfo?.VluchtelingOphalen</div>
                        <div class="col"><b>Basisscholen:</b> @Model.PlaatsingsInfo?.BasisscholenAanwezig</div>
                        <div class="col"><b>Kinderen in de buurt:</b> @Model.PlaatsingsInfo?.KinderenInDeBuurt</div>
                        <div class="col"><b>Faciliteiten kinderen:</b> @Model.PlaatsingsInfo?.FaciliteitenVoorKinderen</div>
                        <div class="col"><b>Koelkast:</b> @Model.PlaatsingsInfo?.KoelkastRuimte</div>
                        <div class="col"><b>Beperkingen:</b> @Model.PlaatsingsInfo?.Beperkingen</div>
                    </div>
                    <div class="col-12"><b>Vragen of opmerkingen: </b> @Model.PlaatsingsInfo?.OverigeOpmerkingen</div>
                    <div class="col-12"><p><b>Notities:</b> <br /> @Model.Notities</p> </div>
                </div>
            </div>
        </td>
    </tr>
}