@using Ordina.StichtingNuTwente.Models.ViewModels;
@using Ordina.StichtingNuTwente.Extensions;
@model AlleGastgezinnenModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Alle Gastgezinnen";
    var Index = 0;
}

<body>
    <div>
        <div class="row">
            <div class="col">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col">
                <div class="dropdown float-right">
                    <span>Sorteer op:</span>
                    <button class="btn btn-outline-primary dropdown-toggle" id="dropdownSortButton" href="#" data-bs-toggle="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Model.SortDropdownText
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownSortButton">
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Woonplaats">Woonplaats</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Naam">Naam</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Telefoonnummer">Telefoonnummer</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=AanmeldingsId">AanmeldingsId (laag-hoog)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=AanmeldingsId&sortOrder=Descending">AanmeldingsId (hoog-laag)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=IntakeId">IntakeId (laag-hoog)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=IntakeId&sortOrder=Descending">IntakeId (hoog-laag)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Intaker&sortOrder=Ascending">Intaker (laag-hoog)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Intaker&sortOrder=Descending">Intaker (hoog-laag)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Buddy&sortOrder=Ascending">Buddy (laag-hoog)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Buddy&sortOrder=Descending">Buddy (hoog-laag)</a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-center nav-link status-filter @(string.IsNullOrEmpty(Context.Request.Query["statusFilter"]) || Context.Request.Query["statusFilter"] == "Alles" ? "active":"")" id="Alles">Alles</a>
                <a class="flex-sm-fill text-center nav-link status-filter @(Context.Request.Query["statusFilter"] == "Geen Intaker"?"active":"")" id="Geen Intaker">Geen Intaker</a>
                <a class="flex-sm-fill text-center nav-link status-filter @(Context.Request.Query["statusFilter"] == "Geen Buddy"?"active":"")" id="Geen Buddy">Geen Buddy</a>
                <a class="flex-sm-fill text-center nav-link status-filter @(Context.Request.Query["statusFilter"] == "Beschikbaar"?"active":"")" id="Beschikbaar">Beschikbaar</a>
                <a class="flex-sm-fill text-center nav-link status-filter @(Context.Request.Query["statusFilter"] == "Gereserveerd"?"active":"")" id="Gereserveerd">Gereserveerd</a>
                <a class="flex-sm-fill text-center nav-link status-filter @(Context.Request.Query["statusFilter"] == "Geplaatst"?"active":"")" id="Geplaatst">Geplaatst</a>
                <a class="flex-sm-fill text-center nav-link status-filter @(Context.Request.Query["statusFilter"] == "On Hold"?"active":"")" id="On Hold">On Hold</a>
                <a class="flex-sm-fill text-center nav-link status-filter @(Context.Request.Query["statusFilter"] == "Nood"?"active":"")" id="Nood">Nood</a>
        </nav>
        <script>
            $(".status-filter").on("click", function() {
                let input = $(this).attr("id");
                let url = new URL(window.location.href);
                console.log(input);
                url.searchParams.set('statusFilter', input);
                window.location.href = url.toString().replaceAll("+", "%20");
            });
        </script>
        <!-- Twee lijsten: Met intake en zonder intake -->
        <form method="post" id="gastgezinForm">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ids</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Adres</th>
                        <th scope="col">Woonplaats</th>
                        <th scope="col">Status</th>
                        <th scope="col">Intaker</th>
                        <th scope="col">Buddy</th>
                        <th scope="col" style="width:32px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mijnGastgezin in Model.Gastgezinnen)
                    {
                        Index++;
                        <tr class="@(Index%2==0?"dark-row":"") @(mijnGastgezin.RejectionComment == null?"":"unseen")"
                        @if(mijnGastgezin.RejectionComment != null){
                            <text>data-toggle="tooltip" data-placement="bottom" title="@mijnGastgezin.RejectionComment.Commenter.FirstName heeft buddy zijn geweigerd: @mijnGastgezin.RejectionComment.Text"</text>
                        }
                        >
                            <td>
                                <a href="/getnutwenteoverheidreactiesdetail25685niveau?id=@mijnGastgezin.AanmeldFormulierId" target="_blank">@mijnGastgezin.AanmeldFormulierId</a>
                                @if (mijnGastgezin.IntakeFormulierId > 0)
                                {
                                    <text>/ </text>
                                    <a href="/getnutwenteoverheidreactiesdetail25685niveau?id=@mijnGastgezin.IntakeFormulierId" target="_blank">@mijnGastgezin.IntakeFormulierId</a>
                                }
                            </td>
                            <td class="text-break"><a href="/gastgezin?id=@mijnGastgezin.Id" target="_blank">@mijnGastgezin.Naam</a></td>
                            <td class="text-break">@mijnGastgezin.Adres</td>
                            <td class="text-break">@mijnGastgezin.Woonplaats</td>
                            <td>
                                @switch (@mijnGastgezin.Status)
                                {
                                    case Ordina.StichtingNuTwente.Models.Models.GastgezinStatus.Aangemeld:
                                        <i class="fa-solid fa-file-pen centered-icon" data-toggle="tooltip" data-placement="bottom" title="Aangemeld"></i>
                                        break;
                                    case Ordina.StichtingNuTwente.Models.Models.GastgezinStatus.Bezocht:
                                        <i class="fa-solid fa-house centered-icon" data-toggle="tooltip" data-placement="bottom" title="Bezocht"></i>
                                        break;
                                    case Ordina.StichtingNuTwente.Models.Models.GastgezinStatus.Gereserveerd:
                                        <i class="fa-solid fa-car-side centered-icon" data-toggle="tooltip" data-placement="bottom" title="Gereserveerd"></i>
                                        break;
                                    case Ordina.StichtingNuTwente.Models.Models.GastgezinStatus.Geplaatst:
                                        <i class="fa-solid fa-house-chimney-user centered-icon" data-toggle="tooltip" data-placement="bottom" title="Geplaatst"></i>
                                        break;
                                    case Ordina.StichtingNuTwente.Models.Models.GastgezinStatus.OnHold:
                                        <i class="fa-solid fa-pause centered-icon" data-toggle="tooltip" data-placement="bottom" title="On hold"></i>
                                        break;
                                    default:
                                        <p>-</p>
                                        break;
                                }
                            </td>
                            <td>
                                @if (User.HasClaims("groups", "group-coordinator", "group-superadmin") && (mijnGastgezin.IntakeFormulierId <= 0 || mijnGastgezin.IntakerId <= 0))
                                {
                                    bool inDropdown = Model.Vrijwilligers.Select(v => v.Id).Contains(mijnGastgezin.IntakerId);
                                    <select class="width-100 form-select" name="vrijwilliger_@mijnGastgezin.Id" id="vrijwilliger_@mijnGastgezin.Id" style="@((inDropdown || mijnGastgezin.IntakerId == 0)? "": "outline: red solid 2px;")">
                                        @if (mijnGastgezin.IntakerId > 0)
                                        {
                                            <option selected="selected" value="@mijnGastgezin.IntakerId">@mijnGastgezin.Intaker</option>
                                            <option value="-"></option>
                                        }
                                        else
                                        {
                                            <option selected="selected" value="-"></option>
                                        }
                                        @foreach (var vrijwilliger in Model.Vrijwilligers)
                                        {
                                            if (vrijwilliger.Id != mijnGastgezin.IntakerId)
                                            {
                                                <option value="@vrijwilliger.Id">@vrijwilliger.Naam</option>
                                            }
                                        }
                                    </select>
                                }
                                else
                                {
                                    <p>@mijnGastgezin.Intaker</p>
                                }
                            </td>
                            <td>
                                @if (User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                                {
                                    bool inDropdown = Model.Vrijwilligers.Select(v => v.Id).Contains(mijnGastgezin.BuddyId);
                                    <select class="width-100 form-select" name="buddy_@mijnGastgezin.Id" id="buddy_@mijnGastgezin.Id" style="@((inDropdown || mijnGastgezin.BuddyId == 0)? "": "outline: red solid 2px;")">
                                        @if (mijnGastgezin.BuddyId > 0)
                                        {
                                            <option selected="selected" value="@mijnGastgezin.BuddyId">@mijnGastgezin.Buddy</option>
                                            <option value="-"></option>
                                        }
                                        else
                                        {
                                            <option selected="selected" value="-"></option>
                                        }
                                        @foreach (var vrijwilliger in Model.Vrijwilligers)
                                        {
                                            if (vrijwilliger.Id != mijnGastgezin.BuddyId)
                                            {
                                                <option value="@vrijwilliger.Id">@vrijwilliger.Naam</option>
                                            }
                                        }
                                    </select>
                                }
                                else
                                {
                                    <p>@mijnGastgezin.Buddy</p>
                                }
                            </td>
                            <td></td>                           
                        </tr>
                        //@await Html.PartialAsync("_GastgezinPlaatsingsInfo.cshtml", new GastgezinPlaatsingsInfoPartial(mijnGastgezin.PlaatsingsInfo, Index, 10, mijnGastgezin.Note,mijnGastgezin.Id, mijnGastgezin.VrijwilligerOpmerkingen, mijnGastgezin.CoordinatorOpmerkingen))
                    }
                </tbody>
            </table>
            </div>
            <hr />
        </form>
    </div>
    @await Html.PartialAsync("_showItem.cshtml")
    @if (User.HasClaims("groups", "group-coordinator", "group-superadmin"))
    {
        <nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
            <div class="col-12" style="text-align: center">
                <button type="submit" id="gastgezinSubmit" class="btn btn-primary">Opslaan</button>
                <span id="gastgezinSpinner" style="display: none;">
                    &nbsp;Bezig met opslaan...
                </span>
            </div>
        </nav>
    }
    <script type="text/javascript">
        let changedGastgezinnen = new Set();
        $("#gastgezinSubmit").click(function() {
           $("#gastgezinSubmit").prop('disabled', true);
           $("#gastgezinSpinner").show();
           //$("#gastgezinForm").submit(); Old form
           let changedBuddyOrIntakerList = [];
           changedGastgezinnen.forEach((gastgezinId)=>{
               let intakerId = $("#vrijwilliger_" + gastgezinId).val();
               let buddyId = $("#buddy_" + gastgezinId).val();

               let changedBuddyOrIntaker = {
                   id:gastgezinId,
                   intakerId:intakerId,
                   buddyId:buddyId
               }
               changedBuddyOrIntakerList.push(changedBuddyOrIntaker);
           })
           console.log(changedBuddyOrIntakerList);
           $.ajax({
                url: "/Gastgezin/IntakerOrBuddyChange",
                type: "POST",
                dataType: 'text',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: {"intakerOrBuddyChangeModels":changedBuddyOrIntakerList},
                success: function(){
                    window.location.reload();
                },
                error: function() {
                window.location = "/Error";
                }
          });
        });
        $("[id^='buddy_'], [id^='vrijwilliger_']").change(function(){
            let id = $(this).attr("id");
            let splitId = id.split("_")
            if(splitId.length > 1){
                changedGastgezinnen.add(splitId[1]);
            }
        })

    </script>
</body>