@using Ordina.StichtingNuTwente.Models.ViewModels;
@model AlleGastgezinnenModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Intakeplanning Gastgezinnen";
    var Index = 0;
}

<body>
    <div>
        <div class="row">
            <div class="col">
                <h3>Intakeplanning Gastgezinnen</h3>
            </div>
            <div class="col">
                <div class="dropdown float-right">
                    <span>Sorteer op:</span>
                    <button class="btn btn-outline-primary dropdown-toggle" id="dropdownSortButton" href="#" data-bs-toggle="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Model.SortDropdownText
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownSortButton">
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Woonplaats">Woonplaats</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Naam">Naam</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Telefoonnummer">Telefoonnummer</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=AanmeldingsId">AanmeldingsId (laag-hoog)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=AanmeldingsId&sortOrder=Descending">AanmeldingsId (hoog-laag)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=IntakeId">IntakeId (laag-hoog)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=IntakeId&sortOrder=Descending">IntakeId (hoog-laag)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Intaker&sortOrder=Ascending">Intaker (laag-hoog)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Intaker&sortOrder=Descending">Intaker (hoog-laag)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Buddy&sortOrder=Ascending">Buddy (laag-hoog)</a>
                        <a class="dropdown-item" href="/AlleGastgezinnen?sortBy=Buddy&sortOrder=Descending">Buddy (hoog-laag)</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Twee lijsten: Met intake en zonder intake -->
        <form method="post" id="gastgezinForm">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ids</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Adres</th>
                        <th scope="col">Woonplaats</th>
                        <th scope="col">Telefoonnummer</th>
                        <th scope="col">Intaker</th>
                        <th scope="col">Buddy</th>
                        <th scope="col" style="width:32px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mijnGastgezin in Model.Gastgezinnen)
                    {
                        Index++;
                        <tr class="@(Index%2==0?"dark-row":"") @(mijnGastgezin.RejectionComment == null?"":"unseen")"
                        @if(mijnGastgezin.RejectionComment != null){
                            <text>data-toggle="tooltip" data-placement="bottom" title="@mijnGastgezin.RejectionComment.Commenter.FirstName heeft buddy zijn geweigerd: @mijnGastgezin.RejectionComment.Text"</text>
                        }
                        >
                                    <td>
                                        <a href="/getnutwenteoverheidreactiesdetail25685niveau?id=@mijnGastgezin.AanmeldFormulierId" target="_blank">@mijnGastgezin.AanmeldFormulierId</a>
                                @if (mijnGastgezin.IntakeFormulierId > 0)
                                {
                                    <text>/ </text>
                                                    <a href="/getnutwenteoverheidreactiesdetail25685niveau?id=@mijnGastgezin.IntakeFormulierId" target="_blank">@mijnGastgezin.IntakeFormulierId</a>
                                }
                                    </td>
                                    <td class="text-break"><a href="/gastgezin?id=@mijnGastgezin.Id" target="_blank">@mijnGastgezin.Naam</a></td>
                                    <td class="text-break">@mijnGastgezin.Adres</td>
                                    <td class="text-break">@mijnGastgezin.Woonplaats</td>
                                    <td>@mijnGastgezin.Telefoonnummer</td>
                                    <td>
                                        <select class="width-100 form-select" name="vrijwilliger_@mijnGastgezin.Id" id="vrijwilliger_@mijnGastgezin.Id">
                                    @if (mijnGastgezin.BegeleiderId > 0)
                                    {
                                                        <option selected="selected" value=""></option>
                                    }
                                    else
                                    {
                                                        <option value=""></option>
                                    }
                                    @foreach (var vrijwilliger in Model.Vrijwilligers)
                                    {
                                        if (vrijwilliger.Id == mijnGastgezin.BegeleiderId)
                                        {
                                                                    <option selected="selected" value="@vrijwilliger.Id">@vrijwilliger.Naam (@vrijwilliger.Email)</option>
                                        }
                                        else
                                        {
                                                                    <option value="@vrijwilliger.Id">@vrijwilliger.Naam (@vrijwilliger.Email)</option>
                                        }
                                    }
                                        </select>
                                    </td>
                                    <td>
                                        <select class="width-100 form-select" name="buddy_@mijnGastgezin.Id" id="buddy_@mijnGastgezin.Id">
                                    @if (mijnGastgezin.BuddyId > 0)
                                    {
                                                        <option selected="selected" value=""></option>
                                    }
                                    else
                                    {
                                                        <option value=""></option>
                                    }
                                    @foreach (var vrijwilliger in Model.Vrijwilligers)
                                    {
                                        if (vrijwilliger.Id == mijnGastgezin.BuddyId)
                                        {
                                                                    <option selected="selected" value="@vrijwilliger.Id">@vrijwilliger.Naam (@vrijwilliger.Email)</option>
                                        }
                                        else
                                        {
                                                                    <option value="@vrijwilliger.Id">@vrijwilliger.Naam (@vrijwilliger.Email)</option>
                                        }
                                    }
                                        </select>
                                    </td>
                            @if (mijnGastgezin.PlaatsingsInfo != null)
                            {
                                                <td class="hoverable show" id="@Index"><i class="fas fa-chevron-down fa-solid"></i></td>
                            }
                            else
                            {
                                                <td></td>
                            }
                                </tr>
                        @await Html.PartialAsync("_GastgezinPlaatsingsInfo.cshtml", new GastgezinPlaatsingsInfoPartial(mijnGastgezin.PlaatsingsInfo, Index, 10, mijnGastgezin.Note))
                    }
                </tbody>
            </table>
            <hr />
        </form>
    </div>
    @await Html.PartialAsync("_showItem.cshtml")
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
        <div class="col-md-12" style="text-align: center">
            <button type="submit" id="gastgezinSubmit" class="btn btn-primary">Opslaan</button>
            <span id="gastgezinSpinner" style="display: none;">
                &nbsp;Bezig met opslaan...
            </span>
        </div>
    </nav>
    <script type="text/javascript">
        $("#gastgezinSubmit").click(function() {
           $("#gastgezinSubmit").prop('disabled', true);
           $("#gastgezinSpinner").show();
           $("#gastgezinForm").submit();
        });
    </script>
</body>