@using Ordina.StichtingNuTwente.Models.ViewModels
@using Ordina.StichtingNuTwente.Models.Models
@using System.ComponentModel.DataAnnotations;
@model GastgezinDetailViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Gastgezin " + Model.GastGezin.Naam;
    var canEdit = User.HasClaims("groups", "group-vrijwilliger", "group-coordinator", "group-superadmin");
}

@*
contains:
- Title
- Badge
- Maintenance button
*@
<div class="row">
    <div class="col" id="TitleCol">
        <div class="card border-0 bg-transparent shadow-none" id="TitleCard">
            <div class="card-body">
                <h2 class="card-title">
                    Gastgezin @Model.GastGezin.Naam
                    <span class="badge bg-secondary">
                        @switch (Model.GastGezin.Status)
                        {
                            case Ordina.StichtingNuTwente.Models.Models.GastgezinStatus.Aangemeld:
                                <i class="fa-solid fa-file-pen centered-icon" data-toggle="tooltip" data-placement="bottom" title="Aangemeld"></i>
                                break;
                            case Ordina.StichtingNuTwente.Models.Models.GastgezinStatus.Bezocht:
                                <i class="fa-solid fa-house centered-icon" data-toggle="tooltip" data-placement="bottom" title="Bezocht"></i>
                                break;
                            case Ordina.StichtingNuTwente.Models.Models.GastgezinStatus.Gereserveerd:
                                <i class="fa-solid fa-car-side centered-icon" data-toggle="tooltip" data-placement="bottom" title="Gereserveerd"></i>
                                break;
                            case Ordina.StichtingNuTwente.Models.Models.GastgezinStatus.Geplaatst:
                                <i class="fa-solid fa-house-chimney-user centered-icon" data-toggle="tooltip" data-placement="bottom" title="Geplaatst"></i>
                                break;
                            case Ordina.StichtingNuTwente.Models.Models.GastgezinStatus.OnHold:
                                <i class="fa-solid fa-pause centered-icon" data-toggle="tooltip" data-placement="bottom" title="On hold"></i>
                                break;
                            default:
                                <p>-</p>
                                break;
                        }
                    </span>
                    @if (Model.GastGezin.NoodOpvang)
                    {
                        <span class="badge bg-info">Noodopvang</span>
                    }
                    @if (User.HasClaims("groups", "group-superadmin"))
                    {
                        <a class="btn btn-danger float-end" href="gastgezin/maintenance?id=@Model.GastGezin.Id">Gastgezin Maintenance</a>
                    }
                </h2>
            </div>
        </div>
    </div>
</div>
@*Deletion comment*@
@if (Model.GastGezin.Deleted)
{
    <div class="row">
        <div class="col">
            <div class="card" id="TitleCard" style="background:#ff9991">
                <div class="card-body">
                    <p>
                        Verwijderd door @Model.GastGezin.DeletionComment?.Commenter.FirstName<br>
                        Reden: @Model.GastGezin.DeletionComment?.Text<br>
                        Datum: @Model.GastGezin.DeletionComment?.Created.ToShortDateString()
                    </p>
                </div>
            </div>
        </div>
    </div>
}
@*
contains:
- ContactInfo
- Details
- Notities
- Nieuwe plaatsingen
*@
<div class="row">
    @*ContactInfo*@
    <div class="col-3" id="ContactInfoCol">
        <div class="card" id="ContactInfoCard">
            <div class="card-body">

                <h5 class="card-title">Contactinformatie</h5>
                <p>
                    Naam: @Model.GastGezin.Naam</br>
                    Telefoonnummer: @Model.GastGezin.Telefoonnummer</br>
                    Email: @Model.GastGezin.Email</br>

                </p>
                <h5>Plaatsingsadres</h5>
                <p>
                    Adres: @(Model.GastGezin.PlaatsingsInfo != null && !(string.IsNullOrEmpty(Model.GastGezin.PlaatsingsInfo?.AdresVanLocatie) || Model.GastGezin.PlaatsingsInfo?.AdresVanLocatie == "-" || Model.GastGezin.PlaatsingsInfo?.AdresVanLocatie.ToLower() == "idem")? Model.GastGezin.PlaatsingsInfo?.AdresVanLocatie :  Model.GastGezin.Adres)</br>
                    Woonplaats: @(Model.GastGezin.PlaatsingsInfo != null && !(string.IsNullOrEmpty(Model.GastGezin.PlaatsingsInfo?.PlaatsnaamVanLocatie) || Model.GastGezin.PlaatsingsInfo?.PlaatsnaamVanLocatie == "-" || Model.GastGezin.PlaatsingsInfo?.PlaatsnaamVanLocatie.ToLower() == "idem")? Model.GastGezin.PlaatsingsInfo?.PlaatsnaamVanLocatie :  Model.GastGezin.Woonplaats)</br>
                    Postcode: @(Model.GastGezin.PlaatsingsInfo != null && !(string.IsNullOrEmpty(Model.GastGezin.PlaatsingsInfo?.PostcodeVanLocatie) || Model.GastGezin.PlaatsingsInfo?.PostcodeVanLocatie == "-" || Model.GastGezin.PlaatsingsInfo?.PostcodeVanLocatie.ToLower() == "idem")? Model.GastGezin.PlaatsingsInfo?.PostcodeVanLocatie :  Model.GastGezin.Postcode)
                </p>
                <h5>Vrijwilligers</h5>
                <p>
                    Intaker: @Model.GastGezin.Begeleider</br>
                    Buddy: @Model.GastGezin.Buddy
                </p>
                <h5>Formulieren</h5>
                <div class="row">
                    <label class="col">Aanmeldformulier:</label>
                    <div class="col">
                        <a href="getnutwenteoverheidreactiesdetail25685niveau?id=@Model.GastGezin.AanmeldFormulierId" class="badge bg-primary float-right">@Model.GastGezin.AanmeldFormulierId</a>
                    </div>
                </div>
                <div class="row">
                    <label class="col">Intakeformulier:</label>
                    <div class="col">
                        @if (Model.GastGezin.IntakeFormulierId != 0)
                        {
                            <a href="getnutwenteoverheidreactiesdetail25685niveau?id=@Model.GastGezin.IntakeFormulierId" class="badge bg-primary float-right">@Model.GastGezin.IntakeFormulierId</a>
                        }
                        else
                        {
                            <a href="/GastgezinIntake?gastgezinId=@Model.GastGezin.Id" class="btn btn-primary mt-3 float-right">Begin Intake</a>
                        }

                    </div>
                </div>
                <h5 class="mt-3">Opties</h5>
                @using (Html.BeginForm("UpdateOpties", "Gastgezin", FormMethod.Post))
                {
                    <input type="hidden" name="GastGezinId" value="@Model.GastGezin.Id">
                    <div class="row mt-1">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="OnHold" name="OnHold" @(Model.GastGezin.OnHold?"checked":"") @(canEdit?"":"disabled")>
                                <label class="form-check-label" for="OnHold">
                                    On Hold
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="NoodOpvang" name="NoodOpvang" @(Model.GastGezin.NoodOpvang?"checked":"") @(canEdit?"":"disabled")>
                                <label class="form-check-label" for="NoodOpvang">
                                    Nood Opvang
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col">VOG:</label>
                        <div class="col">
                            <input type="checkbox" class="form-check-input float-right" id="HasVOG" name="HasVOG" value="true" @((Model.GastGezin.HasVOG != null && Model.GastGezin.HasVOG == true)?"checked":"") @(canEdit?"":"disabled")>
                        </div>
                    </div>

                    <h5 class="mt-3">Maximale Capaciteit</h5>

                    <div class="row mt-1 justify-content-between">
                        <label class="col">Tot en met 2 jaar:</label>
                        <div class="col">
                            <input type="number" class="form-control" name="MaxChildren" value="@Model.GastGezin.MaxChildren" @(canEdit?"":"disabled")>
                        </div>
                    </div>
                    <div class="row mt-1 justify-content-between">
                        <label class="col">Vanaf 3 jaar:</label>
                        <div class="col">
                            <input type="number" class="form-control" name="MaxAdults" value="@Model.GastGezin.MaxAdults" @(canEdit?"":"disabled")>
                        </div>
                    </div>
                    if (canEdit)
                    {
                        <input type="submit" class="btn btn-primary mt-3" value=Opslaan>
                    }
                }
            </div>
        </div>
    </div>

    @*
    contains:
    - Details
    - Notities
    - Nieuwe plaatsingen
    *@
    <div class="col-9">
        @*Details*@
        <div class="row">
            <div class="col" id="DetailsCol">
                <div class="card" id="DetailsCard">
                    <div class="card-body">
                        <h5 class="card-title bg-white">Details</h5>
                        <div style="column-count: 2;">
                            <b>Gezinssamenstelling: </b> @Model.GastGezin.PlaatsingsInfo?.GezinsSamenstelling?.Replace(":;",": ")<br>
                            <b>Leeftijdsgroepen:</b> @Model.GastGezin.PlaatsingsInfo?.GezinsLeeftijden<br>
                            <b>Hobby's:</b> @Model.GastGezin.PlaatsingsInfo?.Hobbys<br>
                            <b>Talen:</b> @Model.GastGezin.PlaatsingsInfo?.Talen?.Replace(":;",": ")<br>
                            <b>Slaapplaatsen tot en met 2 jaar:</b> @Model.GastGezin.PlaatsingsInfo?.KleineKinderen<br>
                            <b>Slaapplaatsen vanaf 3 jaar:</b> @Model.GastGezin.PlaatsingsInfo?.VolwassenenGrotereKinderen<br>
                            <b>Slaapplaatsen Opmerking</b> @Model.GastGezin.PlaatsingsInfo?.SlaapplaatsOpmerking<br>
                            <b>Slaapkamer ruimte:</b> @Model.GastGezin.PlaatsingsInfo?.SlaapkamerRuimte<br>
                            <b>Privacy:</b> @Model.GastGezin.PlaatsingsInfo?.Privacy<br>
                            <b>Eigen toegangsdeur:</b> @Model.GastGezin.PlaatsingsInfo?.EigenToegangsdeur<br>
                            <b>Faciliteiten:</b> @Model.GastGezin.PlaatsingsInfo?.Faciliteiten?.Replace(":;",": ")<br>
                            <b>Zelf koken:</b> @Model.GastGezin.PlaatsingsInfo?.ZelfKoken<br>
                            <b>Koelkast:</b> @Model.GastGezin.PlaatsingsInfo?.KoelkastRuimte<br>
                            <b>Eigen Sanitair:</b> @Model.GastGezin.PlaatsingsInfo?.Sanitair?.Replace(":;",": ")<br>
                            <b>Toegankelijk: </b> @Model.GastGezin.PlaatsingsInfo?.Toegankelijkheid<br>
                            <b>Roken:</b> @Model.GastGezin.PlaatsingsInfo?.Roken<br>
                            <b>Veilige opbergplaats:</b> @Model.GastGezin.PlaatsingsInfo?.VeiligeOpbergruimte<br>
                            <b>Huisdieren aanwezig:</b> @Model.GastGezin.PlaatsingsInfo?.HuisdierenAanwezig?.Replace(":;",": ")<br>
                            <b>Bezwaar tegen huisdieren:</b> @Model.GastGezin.PlaatsingsInfo?.BezwaarTegenHuisdieren?.Replace(":;",": ")<br>
                            <b>Allergieën:</b> @Model.GastGezin.PlaatsingsInfo?.Allergieen?.Replace(":;",": ")<br>
                            <b>Vluchteling ophalen:</b> @Model.GastGezin.PlaatsingsInfo?.VluchtelingOphalen?.Replace(":;",": ")<br>
                            <b>Basisscholen:</b> @Model.GastGezin.PlaatsingsInfo?.BasisscholenAanwezig<br>
                            <b>Elektra spatwaterdicht: </b> @Model.GastGezin.PlaatsingsInfo?.ElektraSpatwaterdicht<br>
                            <b>Daglicht verblijfsruimtes: </b> @Model.GastGezin.PlaatsingsInfo?.DaglichtVerblijfsruimte<br>
                            <b>Daglicht slaapkamer:</b> @Model.GastGezin.PlaatsingsInfo?.DaglichtSlaapkamer<br>
                            <b>Rookmelder(s) aanwezig: </b> @Model.GastGezin.PlaatsingsInfo?.RookmelderAanwezig<br>
                            <b>Beperkingen:</b> @Model.GastGezin.PlaatsingsInfo?.Beperkingen?.Replace(":;",": ")<br>
                        </div>
                        <div class="col-12"><b>Vragen of opmerkingen: </b> @Model.GastGezin.PlaatsingsInfo?.OverigeOpmerkingen</div>
                    </div>
                </div>
            </div>
        </div>
        @*
        contains:
        - Notities
        - Nieuwe plaatsingen
        *@
        <div class="row">
            @*Notities*@
            <div class="col g-4" id="NotitiesCol">
                <div class="card" id="NotitiesCard">
                    <div class="card-body">
                        <h5 class="card-title">Notities</h5>
                        @using (Html.BeginForm("PostNote", "Gastgezin", FormMethod.Post))
                        {
                            <input type="hidden" name="GastGezinId" value="@Model.GastGezin.Id">
                            <div class="grow-wrap">
                                <textarea id="Id" rows="3" @(canEdit?"":"disabled") class="form-control question" name="Note" onInput="this.parentNode.dataset.replicatedValue = this.value" onclick="this.parentNode.dataset.replicatedValue = this.value">@Model.GastGezin.Note</textarea>
                            </div>
                            <input type="submit" @(canEdit?"":"hidden") class="btn btn-primary mt-3" value="Opslaan">
                        }
                    </div>
                </div>
            </div>
            @*Nieuwe plaatsingen*@
            @if (User.HasClaims("groups", "group-coordinator", "group-superadmin"))
            {
                <div class="col-5 g-4" id="NieuwePlaatsingCol">
                    <div class="card" id="NieuwePlaatsingCard">
                        <div class="card-body">
                            <h5 class="card-title">Nieuwe Plaatsing</h5>
                            @using (Html.BeginForm("PostPlaatsing", "Gastgezin", FormMethod.Post))
                            {
                                <input type="hidden" name="GastGezinId" value="@Model.GastGezin.Id">
                                @if (User.HasClaims("groups", "group-superadmin"))
                                {
                                    <div class="row justify-content-sm-left">
                                        <label for="colFormLabelSm" class="col col-form-label">Aantal</label>
                                        <div class="col">
                                            <input type="number" class="form-control" id="colFormLabelSm" name="Amount" value="1">
                                        </div>
                                    </div>
                                }
                                <div class="row justify-content-sm-left">
                                    <label for="colFormLabelSm" class="col col-form-label">Type</label>
                                    <div class="col">
                                        <select name="PlacementType" id="PlacementType" class="form-select">
                                            <option value="@PlacementType.Reservering">@PlacementType.Reservering</option>
                                            <option value="@PlacementType.Plaatsing">@PlacementType.Plaatsing</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row justify-content-sm-left">
                                    <label for="colFormLabelSm" class="col col-form-label">Leeftijd</label>
                                    <div class="col">
                                        <input type="number" class="form-control" id="Age" name="Age">
                                    </div>
                                </div>

                                <script>
                                    $("#Age").change(function() {
                                        var age = parseInt($(this).val(), 10);
                                        var ageGroup = "";
                                        if (age < 0 || !$.isNumeric(age)) {
                                            ageGroup = "@AgeGroup.Onbekend";
                                        }
                                        if (age <= 17 && age >= 0) {
                                            ageGroup = "@AgeGroup.Kind";
                                        }
                                        if (age >= 18) {
                                            ageGroup = "@AgeGroup.Volwassene";
                                        }
                                        $("#AgeGroup").val(ageGroup);
                                        console.log("age: " + age + " ageGroup: " + ageGroup);
                                    });
                                </script>

                                <div class="row justify-content-sm-left">
                                    <label for="colFormLabelSm" class="col col-form-label">Leeftijdsgroep</label>
                                    <div class="col">
                                        <select name="AgeGroup" id="AgeGroup" class="form-select">
                                            <option value="@AgeGroup.Onbekend">@AgeGroup.Onbekend</option>
                                            <option value="@AgeGroup.Volwassene">@AgeGroup.Volwassene</option>
                                            <option value="@AgeGroup.Kind">@AgeGroup.Kind</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row justify-content-sm-left">
                                    <label for="colFormLabelSm" class="col col-form-label">Gender</label>
                                    <div class="col">
                                        <select name="Gender" id="Gender" class="form-select">
                                            @foreach (var option in Enum.GetValues(typeof(Gender)))
                                            {
                                                <option value="@option">@option</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="row justify-content-sm-left">
                                    <label for="colFormLabelSm" class="col col-form-label">Datum</label>
                                    <div class="col">
                                        <input type="date" class="form-control" id="colFormLabelSm" name="Date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                    </div>
                                </div>

                                <div class="card-buttons mt-3">
                                    <input type="submit" value="Plaats" class="btn btn-primary">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*
contains:
- Plaatsingen
    *Delete Plaatsing Modal
- Reserveringen
*@
<div class="row" id="PlaatsingenRow">
    @*Plaatsingen*@
    <div class="col g-4" id="PlaatsingenCol">
        <div class="card" id="PlaatsingenCard">
            <div class="card-body">

                @*Editmode true*@
                @if (Model.EditPlaatsingen == true && User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                {
                    @using (Html.BeginForm("UpdatePlaatsingen", "Gastgezin", FormMethod.Post))
                    {
                        <input type="hidden" name="GastgezinId" value="@Model.GastGezin.Id">
                        <div class="row">
                            <h5 class="card-title">
                                Plaatsingen (@Model.Plaatsingen.Count/@(Model.GastGezin.MaxAdults+Model.GastGezin.MaxChildren))
                                <input class="btn btn-primary float-right" type="submit" value="Opslaan">
                            </h5>
                        </div>
                        @foreach (var p in Model.Plaatsingen)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <input type="hidden" name="PlaatsingsId_@p.Id" value="@p.Id" />
                                        <div class="col col-3">
                                            <p>
                                                <span class="text-primary">Datum</span>
                                                <input type="date" class="form-control" id="colFormLabelSm_@p.Id" name="Date_@p.Id" value="@p.DateTime.ToString("yyyy-MM-dd")">
                                            </p>
                                        </div>
                                        <div class="col col-3">
                                            <p>
                                                <span class="text-primary">Gender</span>
                                                <select name="Gender_@p.Id" id="Gender_@p.Id" class="form-select">
                                                    @foreach (var option in Enum.GetValues(typeof(Gender)))
                                                    {
                                                        if ((Gender)option == p.Gender)
                                                        {
                                                            <option selected value="@option">@option</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@option">@option</option>
                                                        }
                                                    }
                                                </select>
                                            </p>
                                        </div>
                                        <div class="col col-3">
                                            <p>
                                                <span class="text-primary">Leeftijd</span><br />
                                                <input type="number" class="form-control" id="Age_@p.Id" name="Age_@p.Id" value="@p.Age">
                                            </p>
                                        </div>
                                        <div class="col col-3">
                                            <p>
                                                <span class="text-primary">Leeftijdsgroep</span>
                                                <br />
                                                <select name="AgeGroup_@p.Id" id="AgeGroup_@p.Id" class="form-select">
                                                    @foreach (var option in Enum.GetValues(typeof(AgeGroup)))
                                                    {
                                                        if ((AgeGroup)option == p.AgeGroup)
                                                        {
                                                            <option selected value="@option">@option</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@option">@option</option>
                                                        }
                                                    }
                                                </select>
                                            </p>
                                        </div>

                                        <script>
                                            $("#Age_@p.Id").change(function() {
                                                var age = parseInt($(this).val(), 10);
                                                var ageGroup = "";
                                                if (age < 0 || !$.isNumeric(age)) {
                                                    ageGroup = "@AgeGroup.Onbekend";
                                                }
                                                if (age <= 17 && age >= 0) {
                                                    ageGroup = "@AgeGroup.Kind";
                                                }
                                                if (age >= 18) {
                                                    ageGroup = "@AgeGroup.Volwassene";
                                                }
                                                $("#AgeGroup_@p.Id").val(ageGroup);
                                                console.log("age: " + age + " ageGroup: " + ageGroup);
                                            });
                                        </script>

                                    </div>


                                </div>
                            </div>

                        }
                    }
                }
                @*Editmode false*@
                else
                {
                    <div class="row">
                        <h5 class="card-title">
                            Plaatsingen (@Model.Plaatsingen.Count/@(Model.GastGezin.MaxAdults+Model.GastGezin.MaxChildren))
                            @if (Model.Plaatsingen.Count > 0 && User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                            {
                                <a class="btn btn-primary fas fa-edit float-right" asp-route-id=@Model.GastGezin.Id asp-route-EditPlaatsingen="true"></a>
                            }
                        </h5>
                    </div>
                    @foreach (var p in Model.Plaatsingen)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class=col>
                                        <p><span class="text-primary">Datum</span><br />@p.DateTime.ToShortDateString()</p>
                                    </div>
                                    <div class=col>
                                        <p><span class="text-primary">Gender</span><br />@p.Gender</p>
                                    </div>
                                    <div class=col>
                                        <p>
                                            <span class="text-primary">Leeftijd</span><br />
                                            @if (p.Age == -1)
                                            {
                                                <text>Onbekend</text>
                                            }
                                            else
                                            {
                                                <text>@p.Age jaar</text>
                                            }
                                        </p>
                                    </div>
                                    <div class=col>
                                        <p><span class="text-primary">Leeftijdsgroep</span><br />@p.AgeGroup</p>
                                    </div>
                                    <div class=col>
                                        @if (User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                                        {
                                            <button type="button" id="@("deletePlaatsingButton"+p.Id)" class="btn-close float-right" data-toggle="modal" data-target="#deletePlaatsingModal@(p.Id)" onclick="$('#deletePlaatsingModal@(p.Id)').modal('show');" aria-label="Close" title="Verwijder Plaatsing"></button>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        @*DeletePlaatsing modal*@
                        <div class="modal fade" id="deletePlaatsingModal@(p.Id)" tabindex="-1" role="dialog" aria-labelledby="deletePlaatsingModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deletePlaatsingModalLabel@(p.Id)">Plaatsing verwijderen</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="departurDate@(p.Id)">Datum van vertrek</label>
                                            <input type="date" class="form-control" name="Date" id="departurDate@(p.Id)" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                        </div>
                                        <div class="form-group">
                                            <label for="reasonForDeparture@(p.Id)">Reden voor vertrek</label>
                                            <textarea class="form-control" id="reasonForDeparture@(p.Id)" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="departureDestination@(p.Id)">Nieuwe Bestemming</label>
                                            <select class="form-select" id="departureDestination@(p.Id)" rows="3">
                                                <option value="Onbekend">Onbekend</option>
                                                <option value="Oekraine">Terugkeer naar Oekraïne</option>
                                                <option value="BinnenNederland">Vertrek naar bestemming binnen Nederland</option>
                                                <option value="BuitenNederland">Vertrek naar bestemming buiten Nederland (niet Oekraïne)</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="departureComment@(p.Id)">Commentaar</label>
                                            <textarea class="form-control" id="departureComment@(p.Id)" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#deletePlaatsingModal@(p.Id)').modal('hide');">Annuleren</button>
                                        <button type="button" class="btn btn-danger" id="deletePlaatsing@(p.Id)">Bevestig verwijdering</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            $("#deletePlaatsing@(p.Id)").on("click", function() {
                                console.log("verwijder");
                                let id = @p.Id;
                                let departureDate = $("#departurDate@(p.Id)").val();
                                let departureReason = $("#reasonForDeparture@(p.Id)").val();
                                let departureDestination = $("#departureDestination@(p.Id)").val();
                                let departureComment = $("#departureComment@(p.Id)").val();
                                console.log(id + departureReason + departureDestination + departureComment);
                                if (confirm("Weet je zeker dat je deze plaatsing wilt verwijderen?")) {
                                    $.ajax({
                                        url: "/DeletePlaatsing",
                                        type: "DELETE",
                                        dataType: 'text',
                                        data: { "departureDate": departureDate, "PlaatsingId": id, "DepartureReason": departureReason, "DepartureDestination": departureDestination, "DepartureComment": departureComment },
                                        success: function() {
                                            window.location.reload();
                                        },
                                    });
                                }
                            });
                        </script>
                    }
                }
            </div>
        </div>
    </div>
    @*Reserveringen*@
    <div class="col g-4" id="ReserveringenCol">
        <div class="card" id="ReserveringenCard">
            <div class="card-body">

                @if (Model.EditReserveringen == true && User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                {
                    @using (Html.BeginForm("UpdatePlaatsingen", "Gastgezin", FormMethod.Post))
                    {
                        <input type="hidden" name="GastgezinId" value="@Model.GastGezin.Id">
                        <div class="row">
                            <h5 class="card-title">
                                Reserveringen (@Model.Plaatsingen.Count/@(Model.GastGezin.MaxAdults+Model.GastGezin.MaxChildren))
                                <input class="btn btn-warning float-right" type="submit" value="Opslaan">
                            </h5>
                        </div>
                        @foreach (var p in Model.Reserveringen)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <input type="hidden" name="PlaatsingsId_@p.Id" value="@p.Id" />
                                        <div class="col col-3">
                                            <p>
                                                <span class="text-warning">Datum</span>
                                                <input type="date" class="form-control" id="colFormLabelSm_@p.Id" name="Date_@p.Id" value="@p.DateTime.ToString("yyyy-MM-dd")">
                                            </p>
                                        </div>
                                        <div class="col col-3">
                                            <p>
                                                <span class="text-warning">Gender</span>
                                                <select name="Gender_@p.Id" id="Gender_@p.Id" class="form-select">
                                                    @foreach (var option in Enum.GetValues(typeof(Gender)))
                                                    {
                                                        if ((Gender)option == p.Gender)
                                                        {
                                                            <option selected value="@option">@option</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@option">@option</option>
                                                        }
                                                    }
                                                </select>
                                            </p>
                                        </div>
                                        <div class="col col-3">
                                            <p>
                                                <span class="text-warning">Leeftijd</span><br />
                                                <input type="number" class="form-control" id="Age_@p.Id" name="Age_@p.Id" value="@p.Age">
                                            </p>
                                        </div>
                                        <div class="col col-3">
                                            <p>
                                                <span class="text-warning">Leeftijdsgroep</span>
                                                <br />
                                                <select name="AgeGroup_@p.Id" id="AgeGroup_@p.Id" class="form-select">
                                                    @foreach (var option in Enum.GetValues(typeof(AgeGroup)))
                                                    {
                                                        if ((AgeGroup)option == p.AgeGroup)
                                                        {
                                                            <option selected value="@option">@option</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@option">@option</option>
                                                        }
                                                    }
                                                </select>
                                            </p>
                                        </div>

                                        <script>
                                            $("#Age_@p.Id").change(function() {
                                                var age = parseInt($(this).val(), 10);
                                                var ageGroup = "";
                                                if (age < 0 || !$.isNumeric(age)) {
                                                    ageGroup = "@AgeGroup.Onbekend";
                                                }
                                                if (age <= 17 && age >= 0) {
                                                    ageGroup = "@AgeGroup.Kind";
                                                }
                                                if (age >= 18) {
                                                    ageGroup = "@AgeGroup.Volwassene";
                                                }
                                                $("#AgeGroup_@p.Id").val(ageGroup);
                                                console.log("age: " + age + " ageGroup: " + ageGroup);
                                            });
                                        </script>

                                    </div>


                                </div>
                            </div>

                        }
                    }
                }
                else
                {
                    <div class="row">
                        <h5 class="card-title">
                            Reserveringen (@Model.Reserveringen.Count/@(Model.GastGezin.MaxAdults+Model.GastGezin.MaxChildren))
                            @if (Model.Reserveringen.Count > 0 && User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                            {
                                <a class="btn btn-warning fas fa-edit float-right" asp-route-id=@Model.GastGezin.Id asp-route-EditReserveringen="true"></a>
                            }
                        </h5>
                    </div>
                    @foreach (var p in Model.Reserveringen)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    @if (User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                                    {
                                        <div class="col col-1">
                                            <a type="button" href="/PlaatsReservering?PlaatsingId=@p.Id" title="Plaats reservering">
                                                <i class="fa-solid fa-angle-left fa-lg"></i>
                                            </a>
                                        </div>
                                    }
                                    <div class=col>
                                        <p><span class="text-warning">Datum</span><br />@p.DateTime.ToShortDateString()</p>
                                    </div>
                                    <div class=col>
                                        <p><span class="text-warning">Gender</span><br />@p.Gender</p>
                                    </div>
                                    <div class=col>
                                        <p>
                                            <span class="text-warning">Leeftijd</span><br />
                                            @if (p.Age == -1)
                                            {
                                                <text>Onbekend</text>
                                            }
                                            else
                                            {
                                                <text>@p.Age jaar</text>
                                            }
                                        </p>
                                    </div>
                                    <div class=col>
                                        <p><span class="text-warning">Leeftijdsgroep</span><br />@p.AgeGroup</p>
                                    </div>
                                    <div class=col>
                                        @if (User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                                        {
                                            <button type="button" id="@("deletePlaatsing"+p.Id)" class="btn-close float-right" aria-label="Close" title="Verwijder Plaatsing"></button>
                                        }
                                        <script>
                                            $("#@("deletePlaatsing"+p.Id)").on("click", function() {
                                                let id = @p.Id;
                                                if (confirm("Weet je zeker dat je deze reservering wilt verwijderen?")) {
                                                    $.ajax({
                                                        url: "/DeletePlaatsing?PlaatsingId=@p.Id",
                                                        type: "DELETE",
                                                        dataType: 'text',
                                                        success: function() {
                                                            window.location.reload();
                                                        },
                                                    });
                                                }
                                            })
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@*Contactmomenten*@
<div class="row">
    <div class="col g-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Contactmomenten</h5>
                <div class="row">
                    @if (canEdit)
                    {
                        <div class="col-4">
                            <div class="form-group">
                                <label for="ContactLogDate">Datum</label>
                                <input type="date" class="form-control" id="ContactLogDate" name="ContactLogDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="ContactLogDate">Notitie</label>
                                <textarea class="form-control" id="ContactLogText" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-2">
                            <button style="position:relative;bottom:-70px;" class="btn btn-primary" id="ContactLogSubmit">Opslaan</button>
                        </div>
                    }
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Datum</th>
                                    <th scope="col">Persoon</th>
                                    <th scope="col">Notitie</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var contactLog in Model.GastGezin.ContactLogs)
                                {
                                    <tr id="ContactLog-@contactLog.Id">
                                        <td>@contactLog.DateTime.ToShortDateString()</td>
                                        <td>@contactLog.Contacter?.FirstName</td>
                                        <td>@contactLog.Notes</td>
                                        @if (contactLog.Contacter?.AADId == User.Claims.FirstOrDefault(c => c.Type.Contains("nameidentifier")).Value || User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                                        {
                                            <td scope="row">
                                                <button type="button" id="@("deleteContactLog"+contactLog.Id)" class="btn-close float-right" aria-label="Close" title="Verwijder Contactmoment"></button>
                                                <script>
                                                    $("#@("deleteContactLog"+contactLog.Id)").on("click", function() {
                                                        let contactLogId = @(contactLog.Id);
                                                        let gastgezinId = @(Model.GastGezin.Id);
                                                        if (confirm("Weet je zeker dat je dit contactmoment wilt verwijderen?")) {
                                                            $.ajax({
                                                                url: "/Gastgezin/DeleteContactLog/",
                                                                type: "DELETE",
                                                                dataType: 'text',
                                                                data: { "contactLogId": contactLogId, "gastgezinId": gastgezinId },
                                                                success: function() {
                                                                    $("#@("deleteContactLog"+contactLog.Id)").closest('tr').fadeOut(400, function() {
                                                                        $(this).closest('tr').remove();
                                                                    });;
                                                                },
                                                            });
                                                        }
                                                    })
                                                </script>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Plaatsingsgeschiedenis*@
<div class="row" id="plaatsingsGeschiedenisRow">
    <div class="col g-4">
        <div class="card">
            <div class="card-body">
                @*Editmode true*@
                @if (Model.EditVerwijderdePlaatsingen == true && User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                {
                    @using (Html.BeginForm("UpdatePlaatsingen", "Gastgezin", FormMethod.Post))
                    {
                        <input type="hidden" name="GastgezinId" value="@Model.GastGezin.Id">
                        <h5 class="card-title">
                            Plaatsingsgeschiedenis
                            @if (User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                            {
                                <input class="btn btn-primary float-right" type="submit" value="Opslaan">
                            }
                        </h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Datum</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Leeftijd</th>
                                    <th scope="col">Uitgevoerd door</th>
                                    <th scope="col">Reden voor vertrek</th>
                                    <th scope="col">Vertrokken naar</th>
                                    <th scope="col">Commentaar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var plaatsing in Model.PlaatsingsGeschiedenis)
                                {
                                    <tr>
                                        <td>
                                            @if (plaatsing.PlacementType == PlacementType.VerwijderdePlaatsing)
                                            {
                                                <input type="hidden" name="PlaatsingsId_@plaatsing.Id" value="@plaatsing.Id" />
                                                <input type="date" class="form-control" name="Date_@plaatsing.Id" value="@plaatsing.DateTime.ToString("yyyy-MM-dd")">
                                            }
                                            else
                                            {
                                                @plaatsing.DateTime.ToShortDateString()
                                            }
                                        </td>
                                        @switch (plaatsing.PlacementType)
                                        {
                                            case PlacementType.Plaatsing:
                                                <td class="text-success">@plaatsing.PlacementType</td>
                                                break;
                                            case PlacementType.Reservering:
                                                <td class="text-warning">@plaatsing.PlacementType</td>
                                                break;
                                            case PlacementType.GeplaatsteReservering:
                                                <td class="text-primary">@plaatsing.PlacementType</td>
                                                break;
                                            case PlacementType.VerwijderdePlaatsing:
                                                <td class="text-danger">@plaatsing.PlacementType</td>
                                                break;
                                            case PlacementType.VerwijderdeReservering:
                                                <td class="text-danger">@plaatsing.PlacementType</td>
                                                break;
                                            default:
                                                <td></td>
                                                break;
                                        }
                                        <td>@plaatsing.Gender</td>
                                        <td>
                                            @if (plaatsing.Age == -1)
                                            {
                                                <text></text>
                                            }
                                            else
                                            {
                                                @plaatsing.Age
                                            }
                                        </td>
                                        <td>@plaatsing.Vrijwilliger.FirstName @plaatsing.Vrijwilliger.LastName (@plaatsing.Vrijwilliger.Email)</td>
                                        @if (plaatsing.PlacementType == PlacementType.VerwijderdePlaatsing)
                                        {
                                            <td>
                                                <textarea class="form-control" name="DepartureReason_@plaatsing.Id" rows="3">@plaatsing.DepartureReason</textarea>
                                            </td>
                                            <td>
                                                <select class="form-select" name="DepartureDestination_@plaatsing.Id">
                                                    @switch (@plaatsing.DepartureDestination)
                                                    {
                                                        case DepartureDestination.Oekraine:
                                                            <option value="Oekraine" selected>Terugkeer naar Oekraïne</option>
                                                            <option value="BinnenNederland">Bestemming binnen Nederland</option>
                                                            <option value="BuitenNederland">Bestemming buiten Nederland (niet Oekraïne)</option>
                                                            <option value="Onbekend">Onbekend</option>
                                                            break;
                                                        case DepartureDestination.BinnenNederland:
                                                            <option value="Oekraine">Terugkeer naar Oekraïne</option>
                                                            <option value="BinnenNederland" selected>Bestemming binnen Nederland</option>
                                                            <option value="BuitenNederland">Bestemming buiten Nederland (niet Oekraïne)</option>
                                                            <option value="Onbekend">Onbekend</option>
                                                            break;
                                                        case DepartureDestination.BuitenNederland:
                                                            <option value="Oekraine">Terugkeer naar Oekraïne</option>
                                                            <option value="BinnenNederland">Bestemming binnen Nederland</option>
                                                            <option value="BuitenNederland" selected>Bestemming buiten Nederland (niet Oekraïne)</option>
                                                            <option value="Onbekend">Onbekend</option>
                                                            break;
                                                        case DepartureDestination.Onbekend:
                                                            <option value="Oekraine">Terugkeer naar Oekraïne</option>
                                                            <option value="BinnenNederland">Bestemming binnen Nederland</option>
                                                            <option value="BuitenNederland">Bestemming buiten Nederland (niet Oekraïne)</option>
                                                            <option value="Onbekend" selected>Onbekend</option>
                                                            break;
                                                    }
                                                    </select>
                                                </td>
                                            <td><textarea class="form-control" name="DepartureComment_@plaatsing.Id" rows="3">@plaatsing.DepartureComment</textarea></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
                @*Editmode false*@
                else
                {
                    <h5 class="card-title">
                        Plaatsingsgeschiedenis
                        @if (User.HasClaims("groups", "group-coordinator", "group-superadmin"))
                        {
                            <a class="btn btn-primary fas fa-edit float-right" asp-route-id=@Model.GastGezin.Id title="Wijzigen" asp-route-EditVerwijderdePlaatsingen="true"></a>
                        }
                    </h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Datum</th>
                                <th scope="col">Type</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Leeftijd</th>
                                <th scope="col">Uitgevoerd door</th>
                                <th scope="col">Reden voor vertrek</th>
                                <th scope="col">Vertrokken naar</th>
                                <th scope="col">Commentaar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var plaatsing in Model.PlaatsingsGeschiedenis)
                            {
                                <tr>
                                    <td>@plaatsing.DateTime.ToShortDateString()</td>
                                    @switch (plaatsing.PlacementType)
                                    {
                                        case PlacementType.Plaatsing:
                                            <td class="text-success">@plaatsing.PlacementType</td>
                                            break;
                                        case PlacementType.Reservering:
                                            <td class="text-warning">@plaatsing.PlacementType</td>
                                            break;
                                        case PlacementType.GeplaatsteReservering:
                                            <td class="text-primary">@plaatsing.PlacementType</td>
                                            break;
                                        case PlacementType.VerwijderdePlaatsing:
                                            <td class="text-danger">@plaatsing.PlacementType</td>
                                            break;
                                        case PlacementType.VerwijderdeReservering:
                                            <td class="text-danger">@plaatsing.PlacementType</td>
                                            break;
                                        default:
                                            <td></td>
                                            break;
                                    }
                                    <td>@plaatsing.Gender</td>
                                    <td>
                                        @if (plaatsing.Age == -1)
                                        {
                                            <text></text>
                                        }
                                        else
                                        {
                                            @plaatsing.Age
                                        }
                                    </td>
                                    <td>@plaatsing.Vrijwilliger.FirstName @plaatsing.Vrijwilliger.LastName (@plaatsing.Vrijwilliger.Email)</td>
                                    @if (plaatsing.PlacementType == PlacementType.VerwijderdePlaatsing)
                                    {
                                        <td>@plaatsing.DepartureReason</td>
                                        <td>
                                            @switch (@plaatsing.DepartureDestination)
                                            {
                                                case DepartureDestination.Oekraine:
                                                    <text>Terugkeer naar Oekraïne</text>
                                                    break;
                                                case DepartureDestination.BinnenNederland:
                                                    <text>Bestemming binnen Nederland</text>
                                                    break;
                                                case DepartureDestination.BuitenNederland:
                                                    <text>Bestemming buiten Nederland (niet Oekraïne)</text>
                                                    break;
                                                case DepartureDestination.Onbekend:
                                                    <text>Onbekend</text>
                                                    break;
                                            }
                                        </td>
                                        <td>@plaatsing.DepartureComment</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
@*
contains:
- Delete button
- Restore button
*@
@if (Model.CanDelete)
{
    <div class="col col-1">
        <div class="card border-0 bg-transparent shadow-none">
            <div class=card-body>
                @if (Model.GastGezin.Deleted)
                {
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#restoreModal" onclick="$('#restoreModal').modal('show');">Herstellen</button>
                }
                else
                {
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="$('#deleteModal').modal('show');">Verwijderen</button>
                }
            </div>
        </div>
    </div>
}
@*
contains:
- Delete modal
- Restore modal
*@
<div manifest="modals">
    @*Delete modal*@
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Gastgezin verwijderen</h5>
                </div>
                <div class="form-group">
                    <label for="reasonForDelete">Reden voor verwijderen</label>
                    <textarea class="form-control" id="reasonForDelete" rows="3"></textarea>
                </div>
                <div class="modal-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="deleteForms" checked>
                        <label class="form-check-label" for="deleteForms">Bijbehorende formulieren verwijderen</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#deleteModal').modal('hide');">Annuleren</button>
                    <button type="button" class="btn btn-danger" id="deleteGastgezin">Bevestig verwijdering</button>
                </div>
            </div>
        </div>
    </div>
    @*Restore modal*@
    <div class="modal fade" id="restoreModal" tabindex="-1" role="dialog" aria-labelledby="restoreModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="restoreModalLabel">Gastgezin herstellen</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#restoreModal').modal('hide');">Annuleren</button>
                    <button type="button" class="btn btn-primary" id="restoreGastgezin">Bevestig herstelling</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*
contains:
- Delete gastgezin
- Restore gastgezin
- Submit contact log
- Scroll on reload
*@
<script>
    @*Delete gastgezin*@
    $("#deleteGastgezin").on("click", function() {
        let id = @Model.GastGezin.Id;
        let reasonForDelete = $("#reasonForDelete").val();
        let deleteForms = $("#deleteForms").is(":checked");
        if (confirm("Weet je zeker dat je dit gastgezin wilt verwijderen?")) {
            $.ajax({
                url: `/Gastgezin/DeleteGastgezin/${id}?deleteForms=${deleteForms}&comment=${reasonForDelete}`,
                type: "DELETE",
                dataType: 'text',
                success: function() {
                    if (window.location.href != document.referrer) {
                        window.location = document.referrer;
                    } else {
                        window.location = "/";
                    }
                },
                error: function() {
                    window.location = "/Error";
                }
            });
        }
    })

    @*Restore gastgezin*@
    $("#restoreGastgezin").on("click", function() {
        let id = @Model.GastGezin.Id;
        if (confirm("Weet je zeker dat je dit gastgezin wilt herstellen?")) {
            $.ajax({
                url: `/Gastgezin/RestoreGastgezin/${id}`,
                type: "POST",
                dataType: 'text',
                success: function() {
                    if (window.location.href != document.referrer) {
                        window.location = document.referrer;
                    } else {
                        window.location = "/";
                    }
                },
                error: function() {
                    window.location = "/Error";
                }
            });
        }
    })

    @*Submit contact log*@
    $("#ContactLogSubmit").on("click", function() {
        let id = @Model.GastGezin.Id;
        let date = $("#ContactLogDate").val();
        let note = $("#ContactLogText").val();
        if (note && date) {
            $.ajax({
                url: `/Gastgezin/AddContactLog`,
                type: "POST",
                dataType: 'text',
                data: { "date": date, "note": note, "gastgezinId": id },
                success: function() {
                    location.reload();
                },
                error: function() {
                    window.location = "/Error";
                }
            });
        }
    })

    @*Scroll on reload*@
    document.addEventListener("DOMContentLoaded", function(event) {
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo(0, scrollpos);
            sessionStorage.removeItem('scrollpos');
        }
    });

    window.addEventListener("beforeunload", function(e) {
        sessionStorage.setItem('scrollpos', window.scrollY);
    });
</script>