@using Ordina.StichtingNuTwente.Models.ViewModels;
@using System.Diagnostics
@model MijnGastgezinnenModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor

@{
    ViewData["Title"] = Model.Vrijwilliger.Naam;
    var Index = 0;
    var newGastgezinnen = Model.MijnGastgezinnen.Count(g => !g.HeeftBekeken);
}

<body>
    <div class="row">
        <div class="col" id="TitleCol">
            <div class="card border-0 bg-transparent shadow-none" id="TitleCard">
                <div class="card-body">
                    <h2 class="card-title">
                        @ViewData["Title"]
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" id="ContactCol">
            <div class="card h-100" id="ContactCard">
                <div class="card-body">
                    <h5 class="card-title">
                        Contactgegevens
                        @if (Model.GastgezinnenVan == null)
                        {
                            <a href="/MicrosoftIdentity/Account/EditProfile"><i class="fas fa-edit float-end"></i></a>
                        }
                    </h5>
                    <p>
                        Naam: @Model.Vrijwilliger.Naam <br />
                        Telefoonnummer: @Model.Vrijwilliger.Telefoonnummer <br />
                        E-mailadres: @Model.Vrijwilliger.Email <br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col" id="AdresCol">
            <div class="card h-100">
                <div class="card-body">
                    @if (Model.EditAddress)
                    {
                        <form method="post" asp-controller="User" asp-action="UpdateUserAddress" asp-route-userId="@Model.Vrijwilliger.Id">
                            <h5 class="card-title">Adres <button class="btn btn-primary float-end" type="submit" value="Submit">Opslaan</button></h5>
                            <label class="form-check-label">Postcode</label>
                            <input class="form-control" id="PostcodeInput" type="text" name="postalCode" value="@Model.Vrijwilliger.Postcode">
                            <label class="form-check-label">Adres</label>
                            <input class="form-control" id="AdresInput" type="text" name="address" value="@Model.Vrijwilliger.Adres">
                            <label class="form-check-label">Woonplaats</label>
                            <input class="form-control" id="WoonplaatsInput" type="text" name="city" value="@Model.Vrijwilliger.Woonplaats">
                        </form>
                    }
                    else
                    {
                        <h5 class="card-title">
                            Woonadres <a asp-route-EditAddress="true">
                                <i class="fas fa-edit float-end"></i>
                            </a>
                        </h5>
                        <p>
                            @if (String.IsNullOrEmpty(Model.Vrijwilliger.Postcode) && String.IsNullOrEmpty(Model.Vrijwilliger.Adres) && String.IsNullOrEmpty(Model.Vrijwilliger.Woonplaats))
                            {
                                <a asp-route-EditAddress="true">Adres toevoegen</a>
                            }
                            else
                            {
                                <text>
                                    Postcode: @Model.Vrijwilliger.Postcode <br />
                                    Adres: @Model.Vrijwilliger.Adres <br />
                                    Plaats: @Model.Vrijwilliger.Woonplaats <br />
                                </text>
                            }
                        </p>
                    }
                </div>
            </div>
        </div>
        <div class="col" id="StatsCol">
            <div class="card h-100">
                <div class="card-body">
                    <h5>Statistieken</h5>
                    <p>
                        Intaker van @Model.IntakerCount gastgezinnen <br />
                        Buddy van @Model.BuddyCount gastgezinnen <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col g-4">
            <div class="card">
                <div class="card-header">
                    <span class="card-title h5">
                        @if(Model.GastgezinnenVan != null){
                            @:Gastgezinnen van @Model.GastgezinnenVan
                        }else
                        {
                            @:Mijn Gastgezinnen
                        }

                        @if (newGastgezinnen > 0)
                        {
                            <span class="badge bg-secondary">@newGastgezinnen Nieuw</span>
                        }
                    </span>
                    <ul class="nav nav-tabs card-header-tabs float-end">
                        <li>
                            <a class="nav-link @(string.IsNullOrEmpty(Context.Request.Query["filter"])?"active":"")" href="javascript:window.location.href=window.location.href.split('?')[0];">Alles</a>
                        </li>
                        <li>
                            <a class="nav-link @(Context.Request.Query["filter"] == "Buddy"?"active":"")" href="?filter=Buddy">Buddy</a>
                        </li>
                        <li>
                            <a class="nav-link @(Context.Request.Query["filter"] == "Intaker"?"active":"")" href="?filter=Intaker">Intaker</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">

                    <table class="table">
                        <thead>
                            <tr>
                                @if (Context.Request.Query["filter"] == "Buddy" && Model.GastgezinnenVan == null)
                                {
                                    <th scope="col"></th>
                                }
                                <th scope="col">Naam</th>
                                <th scope="col">Adres</th>
                                <th scope="col">Woonplaats</th>
                                <th scope="col">Opmerkingen</th>
                                <th scope="col">Aanmelding</th>
                                <th scope="col">Intake</th>
                                <th scope="col">Geplaatst</th>
                                <th scope="col">Gereserveerd</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var mijnGastgezin in Model.MijnGastgezinnen)
                            {
                                Index++;
                                <tr class="@(Index%2==0?"dark-row":"light-row") @(mijnGastgezin.HeeftBekeken?"":"unseen")" id="@mijnGastgezin.Id">
                                    @if (Context.Request.Query["filter"] == "Buddy" && Model.GastgezinnenVan == null)
                                    {
                                        <td><button class="btn btn-danger" onclick="$('#rejectModal').modal('show');$('#rejectModal').attr('gastgezin',@mijnGastgezin.Id)" title="Gastgezin Weigeren"><img width="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAuUlEQVRIieXSMQ4BQRTG8R8RkbiBgxD3UOg0GhdxBSfYswg30NM4AQ2K3cSSWbsTsw1f8pI3U3z/970Z/lE7bNs0vReVFFY2reqD6qagF/oqTZMEwTQpEwT1f4BzqV+lHOReU2cVj9yJADTVi2doRTNsMIkwbayxZ9Qr5sV93YrK9aLe23lY6vvIMEo2vnx/WeTEHxOENMC+TQD5Wk5tAmCKS6T5MQYAy0jAOhYACxxwq5l8Lf95P6YHq3yCt+kGH5YAAAAASUVORK5CYII=" /></button></td>
                                    }
                                    <td>@mijnGastgezin.Naam</td>
                                    <td>@mijnGastgezin.Adres</td>
                                    <td>@mijnGastgezin.Woonplaats</td>
                                    <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 200px;"
                                    class="show" id="@Index"
                                    data-toggle="tooltip" data-placement="bottom" title="@mijnGastgezin.VrijwilligerOpmerkingen">
                                        @mijnGastgezin.VrijwilligerOpmerkingen
                                    </td>
                                    <td>
                                        @if (mijnGastgezin.AanmeldFormulierId != 0)
                                        {
                                            <a href="/getnutwenteoverheidreactiesdetail25685niveau?id=@mijnGastgezin.AanmeldFormulierId" title="Aanmeldformulier openen" target="_blank"><i class="fa-solid fa-file centered-icon"></i></a>
                                        }
                                    </td>
                                    <td>
                                        @if (mijnGastgezin.IntakeFormulierId > 0)
                                        {
                                            <a href="/getnutwenteoverheidreactiesdetail25685niveau?id=@mijnGastgezin.IntakeFormulierId" title="Intakeformulier openen" target="_blank"><i class="fa-solid fa-file centered-icon"></i></a>
                                        }
                                        else
                                        {
                                            <a style="color:orange" href="/GastgezinIntake?gastgezinId=@mijnGastgezin.Id" title="Nieuwe intake" target="_blank"><i class="fa-solid fa-file-pen centered-icon"></i></a>
                                        }
                                    </td>
                                    <td><a href="/gastgezin?id=@mijnGastgezin.Id" target="_blank">@(mijnGastgezin.PlaatsingTag.StartsWith("0")?"0":mijnGastgezin.PlaatsingTag)</a></td>
                                    <td><a href="/gastgezin?id=@mijnGastgezin.Id" target="_blank">@(mijnGastgezin.ReserveTag.StartsWith("0")?"0":mijnGastgezin.ReserveTag)</a></td>
                                    <td class="hoverable show" id="@Index"><i class="fas fa-chevron-down fa-solid"></i></td>
                                </tr>
                                @await Html.PartialAsync("_GastgezinPlaatsingsInfo.cshtml", new GastgezinPlaatsingsInfoPartial(mijnGastgezin.PlaatsingsInfo, Index, 10, mijnGastgezin.Note, mijnGastgezin.Id, mijnGastgezin.VrijwilligerOpmerkingen, mijnGastgezin.CoordinatorOpmerkingen))
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @if (User.HasClaims("groups", "group-coordinator", "group-superadmin") && Model.GastgezinnenVan != null)
    {
        <div class="col col-1">
            <div class="card border-0 bg-transparent shadow-none">
                <div class=card-body>
                    @if (@Model.Vrijwilliger.Deleted)
                    {
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#restoreModal" onclick="$('#restoreModal').modal('show');">Herstellen</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="$('#deleteModal').modal('show');">Verwijderen</button>
                    }
                </div>
            </div>
        </div>
    }
    @*Delete modal*@
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Vrijwilliger verwijderen</h5>
                </div>
                <div class="form-group">
                    <label for="reasonForDelete">Reden voor verwijderen</label>
                    <textarea class="form-control" id="reasonForDelete" rows="3"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#deleteModal').modal('hide');">Annuleren</button>
                    <button type="button" class="btn btn-danger" id="deleteVrijwilliger">Bevestig verwijdering</button>
                </div>
            </div>
        </div>
    </div>
    @*Restore modal*@
    <div class="modal fade" id="restoreModal" tabindex="-1" role="dialog" aria-labelledby="restoreModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="restoreModalLabel">Vrijwilliger herstellen</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#restoreModal').modal('hide');">Annuleren</button>
                    <button type="button" class="btn btn-primary" id="restoreVrijwilliger">Bevestig herstelling</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Gastgezin Weigeren</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-check-label" for="rejectionComment">Waarom wil je dit gastgezin weigeren?</label>
                        <textarea class="form-control" id="rejectionComment" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#rejectModal').modal('hide');">Afsluiten</button>
                    <button type="button" class="btn btn-danger" id="rejectGastgezin">Bevestig weigering</button>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_showItem.cshtml")
    @if (Model.GastgezinnenVan == null)
    {
        <script>
            $(".unseen").on("click", function() {
                let id = $(this).attr("id");
                $(this).removeClass("unseen");
                $.ajax({
                    url: "/MarkAsRead/" + id,
                    type: "PUT",
                    dataType: 'text',
                    success: function() {
                    },
                    error: function() {
                    }
                });
            })

            $("#rejectGastgezin").on("click", function() {
                let id = $("#rejectModal").attr("gastgezin");
                let comment = $("#rejectionComment").val();
                if (!comment) comment = " ";
                console.log(id);
                console.log(comment);
                if (id && id > 0) {
                    $.ajax({
                        url: "/RejectBuddy/" + id + "?comment=" + comment,
                        type: "PUT",
                        dataType: 'text',
                        success: function() {
                            location.reload();
                        },
                        error: function() {
                        }
                    });
                }
            })
        </script>
    }
    else
    {
        <script>
            $("#deleteVrijwilliger").on("click", function() {
                let id = @Model.Vrijwilliger.Id;
                let reasonForDelete = $("#reasonForDelete").val();
                if (confirm("Weet je zeker dat je deze vrijwilliger wilt verwijderen?")) {
                    $.ajax({
                        url: `/User/${id}/Delete?comment=${reasonForDelete}`,
                        type: "DELETE",
                        dataType: 'text',
                        success: function() {
                            if (window.location.href != document.referrer) {
                                window.location = document.referrer;
                            } else {
                                window.location = "/";
                            }
                        },
                        error: function() {
                            window.location = "/Error";
                        }
                    });
                }
            })

            $("#restoreVrijwilliger").on("click", function() {
                let id = @Model.Vrijwilliger.Id;
                if (confirm("Weet je zeker dat je deze vrijwilliger wilt herstellen?")) {
                    $.ajax({
                        url: `/User/${id}/Restore`,
                        type: "POST",
                        dataType: 'text',
                        success: function() {
                            if (window.location.href != document.referrer) {
                                window.location = document.referrer;
                            } else {
                                window.location = "/";
                            }
                        },
                        error: function() {
                            window.location = "/Error";
                        }
                    });
                }
            })
        </script>
    }
</body>



