@using Ordina.StichtingNuTwente.Models.ViewModels
@model List<UserViewModel>
@{
    ViewData["Title"] = "Overzicht Vrijwilligers";
    List<string> mailAdressen = new List<string>();
}
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</header>

<body>
    <h3>@ViewData["Title"]</h3>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalMail">Mail deze groep</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Voornaam</th>
                <th scope="col">Achternaam</th>
                <th scope="col">E-mailadres</th>
                <th scope="col">Telefoonnummer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <th scope="row">@u.FirstName</th>
                    <td>@u.LastName</td>
                    <td>@u.Email</td>
                    <td>@u.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="modalMail" role="dialog">
        @using (Html.BeginForm("MailGroup", "User", FormMethod.Post))
        {
            <div class="modal-dialog">


                foreach(var u in Model)
                {
                     mailAdressen.add(u.mail);
                }

                <input type="hidden" value=@mailAdressen name="mailAdressen">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Mail naar deze groep</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <h6>Onderwerp</h6>
                            <textarea id="onderwerp" name="onderwerp"></textarea>
                            
                        </div>
                        <div class="row">
                            <h6>Bericht:</h6>
                            <textarea id="bericht" name="bericht" style="height=30px"> </textarea>
                            
                        </div>
                    </div>

                    <input type="submit" class="btn btn-default" value="Verstuur">
                </div>
            </div>
        }
    </div>
</body>