@using Ordina.StichtingNuTwente.Models.ViewModels
@model List<UserViewModel>
@{
    ViewData["Title"] = "Overzicht Vrijwilligers";
    List<string> mailAdressen = new List<string>();
    string emailAdressen = "";
}
<body>
    <div class="row">
        <div class="col">
        <h3>@ViewData["Title"]</h3>
        </div>
        <div class="col">
           @*Email functionaliteit:*@
       @* <button type="button" class="btn btn-info float-right" data-bs-toggle="modal" data-bs-target="#modalMail">Mail deze groep</button>*@
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Voornaam</th>
                <th scope="col">Achternaam</th>
                <th scope="col">E-mailadres</th>
                <th scope="col">Telefoonnummer</th>
                <th scope="col">Rollen</th>
                <th scope="col">In vrijwilliger lijst?</th>
                <th scope="col">Aantal intakes</th>
                <th scope="col">Aantal buddies</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <th scope="row">@u.FirstName</th>
                    <td>@u.LastName</td>
                    <td>@u.Email</td>
                    <td>@u.PhoneNumber</td>
                    <td>@string.Join( "; ", @u.Roles.ToArray() )</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input dropdown-checkbox" type="checkbox" value="" id="@u.Id" @(u.InDropdown?"checked":"")>
                        </div>
                    </td>
                    <td><a href="/MijnGastgezinnen/@u.Id?filter=Intaker">@u.AantalIntakes</a></td>
                    <td><a href="/MijnGastgezinnen/@u.Id?filter=Buddy">@u.AantalBuddies</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" tabindex="-1" id="modalMail" role="dialog">
        @using (Html.BeginForm("MailGroup", "User", FormMethod.Post))
        {
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mail naar deze groep</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label for="onderwerp">Onderwerp</label>
                            <textarea class="form-control" id="onderwerp" name="onderwerp"></textarea>

                        </div>
                        <div class="row">
                            <label for="bericht">Bericht</label>
                            <textarea class="form-control" id="bericht" name="bericht" style="height=30px"> </textarea>

                        </div>
                        @foreach (var u in Model)
                        {
                            mailAdressen.Add(u.Email);
                            emailAdressen = string.Join(",", mailAdressen);
                        }

                        <input type="hidden" value=@emailAdressen name="emailAdressen">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Afsluiten</button>
                        <input type="submit" class="btn btn-primary" value="Verstuur">
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
        $(".dropdown-checkbox").on("change", function(){
            let checkbox = $(this);
            let id = checkbox.attr("id");
            let checked = checkbox.is(":checked");
            checkbox.prop( "disabled", true );
            $.ajax({
            url: "/User/UserUpdate",
               type: "PUT",
               dataType: 'text',
               contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
               data: {"inDropdown":checked, "id":id},
               success: function() {
                   checkbox.prop( "disabled", false);
               },
               error: function() {
                   checkbox.prop( "disabled", false);
                   checkbox.prop( "checked", !checked);
               }
            });
        })
    </script>
</body>