@using System.Security.Principal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor

@if (User.Identity.IsAuthenticated)
{
    <nav class="navbar navbar-dark bg-primary navbar-expand-md navbar-toggleable-md mb-3 justify-content-between">
        <div class="container">
            <a class="navbar-brand">
                <img src="/favicon.ico" alt="" width="44" height="44">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-light"></span>
            </button>
            <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.HasClaims("groups", "group-vrijwilliger", "group-secretariaat", "group-coordinator", "group-superadmin"))
                    {
                        @*mijn overzichten*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @(Accessor.HttpContext.Request.Path.Value == "/mijnReacties" || Accessor.HttpContext.Request.Path.Value == "/MijnGastgezinnen"? "active" : "" )" href="#" id="navbarDropdown" data-bs-toggle="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mijn Overzichten
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/MijnGastgezinnen">Mijn gastgezinnen</a>
                                <a class="dropdown-item" href="/mijnReacties">Mijn formulieren</a>
                            </div>
                        </li>
                    }
                    @if (User.HasClaims("groups", "group-secretariaat", "group-coordinator", "group-superadmin"))
                    {
                        @*overzichten*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @(Accessor.HttpContext.Request.Path.Value == "/getnutwenteoverheidreacties987456list" || Accessor.HttpContext.Request.Path.Value == "/getnutwenteoverheidreactiesspecifiek158436form" || Accessor.HttpContext.Request.Path.Value == "/user/Users" || Accessor.HttpContext.Request.Path.Value == "/vluchtelingenOverzicht" || Accessor.HttpContext.Request.Path.Value == "/AlleGastgezinnen" || Accessor.HttpContext.Request.Path.Value == "/BeschikbareGastgezinnen"? "active" : "" )" href="#" id="navbarDropdown" data-bs-toggle="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Overzichten
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/BeschikbareGastgezinnen?statusFilter=Beschikbaar">Beschikbare Gastgezinnen</a>
                                <a class="dropdown-item" href="/AlleGastgezinnen">Alle Gastgezinnen</a>
                                <a class="dropdown-item" href="/getnutwenteoverheidreacties987456list">Reacties</a>
                                <a class="dropdown-item" href="/Vrijwilligers">Vrijwilligers Housing</a>
                            </div>
                        </li>
                    }
                    @*formulieren*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle @(Accessor.HttpContext.Request.Path.Value == "/GastgezinIntake" || Accessor.HttpContext.Request.Path.Value == "/VluchtelingIntake" || Accessor.HttpContext.Request.Path.Value == "/GastgezinAanmelding" || Accessor.HttpContext.Request.Path.Value == "/VrijwilligerAanmelding"? "active" : "" )" href="#" id="navbarDropdown" data-bs-toggle="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Formulieren
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (User.HasClaims("groups", "group-vrijwilliger", "group-secretariaat", "group-coordinator", "group-superadmin"))
                            {
                                <a class="dropdown-item" href="/GastgezinIntake">Gastgezin Intake</a>
                            }
                            <a class="dropdown-item" href="/GastgezinAanmelding">Gastgezin Aanmelding</a>
                            <a class="dropdown-item" href="/VrijwilligerAanmelding">Vrijwilliger Aanmelding</a>
                        </div>
                    </li>
                    @if (User.HasClaims("groups", "group-secretariaat", "group-coordinator", "group-superadmin"))
                    {
                        @*archief*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @(Accessor.HttpContext.Request.Path.Value == "/VerwijderdeGastgezinnen" || Accessor.HttpContext.Request.Path.Value == "/Plaatsingen/Verwijderd" || Accessor.HttpContext.Request.Path.Value == "/Document/Index"? "active" : "" )" href="#" id="navbarDropdown" data-bs-toggle="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Archief
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/VerwijderdeGastgezinnen">Verwijderde gastgezinnen</a>
                                <a class="dropdown-item" href="/Plaatsingen/Verwijderd">Verwijderde plaatsingen</a>
                                <a class="dropdown-item" href="/Archief/Vrijwilligers">Verwijderde vrijwilligers</a>
                                <a class="dropdown-item" href="/Document/Index">Downloads</a>
                            </div>
                        </li>
                    }

                    @if (User.HasClaims("groups", "group-superadmin"))
                    {
                        <span style="padding-left: 50px;"><a href="/Maintenance/Index" class="btn btn-danger">Maintenance</a></span>
                    }
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @User.Claims.FirstOrDefault(c => c.Type.Contains("givenname"))?.Value @User.Claims.FirstOrDefault(c => c.Type.Contains("surname"))?.Value
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile">Profiel wijzigen</a>
                            <a class="dropdown-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Log uit</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}