@using Ordina.StichtingNuTwente.Models.Models
@using Ordina.StichtingNuTwente.Models.ViewModels
@model InputPartialViewModel
@{
    var q = Model.Question;
}

@switch (q.InputType)
{
    case "checkbox":
        {
            @foreach (string cbOption in @q.InputOptions)
            {
                if (cbOption.ToLower().Contains("anders")||cbOption.ToLower().Contains("namelijk"))
                {
                    <input class="form-check-input question" type="checkbox" value="@cbOption" id="question-@q.Id-@cbOption" @((q.Answer != null && q.Answer.Contains(@cbOption))?"checked":"") @(q.Required?"required":"")>
                    <label class="form-check-label" for="question-@q.Id-@cbOption">
                        <input type="text" id="question-@q.Id-@(cbOption)text" class="form-control question" placeholder="@cbOption" value="@((q.Answer != null && q.Answer.Contains(@cbOption))?q.Answer.Split(",").Last():"")" name="Antwoord" @(q.Required?"required":"") />
                    </label>

                    <br />
                }
                else
                {
                    <input class="form-check-input question" type="checkbox" value="@cbOption" id="question-@q.Id-@cbOption" @((q.Answer != null && q.Answer.Contains(@cbOption))?"checked":"") @(q.Required?"required":"")>
                    <label class="form-check-label" for="question-@q.Id-@cbOption">
                        @cbOption
                    </label>

                    <br />
                }
            }
            break;
        }
    case "radiobutton":
        {
            @foreach (string rbOption in @q.InputOptions)
            {
                if (rbOption.ToLower().Contains("anders")||rbOption.ToLower().Contains("namelijk"))
                {
                    <div class="form-check">
                        <input class="form-check-input question" type="radio" name="question-@q.Id" id="question-@q.Id-@rbOption" value="@rbOption" @((q.Answer != null && q.Answer.Contains(@rbOption))?"checked":"")>
                        <label class="form-check-label" for="question-@q.Id-@rbOption">
                            <input type="text" id="question-@q.Id-@(rbOption)text" class="form-control question" placeholder="@rbOption" value="@((q.Answer != null && q.Answer.Contains(@rbOption))?q.Answer.Split(",").Last():"")" name="Antwoord" @(q.Required?"required":"") />
                        </label>
                    </div>
                }
                else
                {
                    <div class="form-check">
                    <input class="form-check-input question" type="radio" name="question-@q.Id" id="question-@q.Id-@rbOption" value="@rbOption" @((q.Answer != null && q.Answer.Contains(@rbOption))?"checked":"")>
                    <label class="form-check-label" for="question-@q.Id-@rbOption">
                        @rbOption
                    </label>
                    </div>
                }
            }
            break;
        }
    case "date":
        {
            <p style="font-size: 0.8rem;">Originele waarde: @q.Answer</p>
            <input type="date" id="question-@q.Id" class="form-control question" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            break;
        }
    case "postcode":
        {
            <input type="text" placeholder="1111AA" id="question-@q.Id" class="form-control question postcode" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            <div class="field-invalid-postcode">
                Postcode moet bestaan uit 4 cijfers en 2 hoofdletters zonder spaties <br />
            </div>
            break;
        }
    case "email":
        {
            <input type="text" placeholder="voorbeeld@nutwente.nl" id="question-@q.Id" class="form-control question email" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            <div class="field-invalid-email">
                Voer een geldig e-mailadres adress in <br />
            </div>
            break;
        }
    case "phoneNumber":
        {
            <input type="tel" placeholder="+31601234567" id="question-@q.Id" class="form-control question phoneNumber" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            <div class="field-invalid-phoneNumber">
                Voer een geldig telefoonnummer in, bijvoorbeeld: +31601234567 <br />
            </div>
            break;
        }
    case "optionalPhoneNumber":
        {
            <input type="tel" placeholder="+31601234567" id="question-@q.Id" class="form-control question optionalPhoneNumber" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            <div class="field-invalid-phoneNumber">
                Voer een geldig telefoonnummer in, bijvoorbeeld: +31601234567 <br />
            </div>
            break;
        }
    case "textArea":
        {
            <textarea id="question-@q.Id" rows="3" class="form-control question" name="Antwoord" size="100" @(q.Required?"required":"")>@q.Answer</textarea>
            break;
        }

    case "vrijwilliger":
        {
            if (Model.AllUsers.Count > 0)
            {
                @if (q.Answer != null)
                {
                    <p style="font-size: 0.8rem;">Origineel antwoord: @q.Answer</p>
                }
                <select name="Antwoord" class="form-select question" id="question-@q.Id">
                    @foreach (UserDetails ud in Model.AllUsers)
                    {
                        @if ((q.Answer != null && q.Answer.Split(" ").Count() > 2 && q.Answer.Split("(").Count() > 1 && (q.Answer.Split("(")[1]).Contains(ud.Email)) || (q.Answer == null && Model.UserDetails != null && ud.Id == Model.UserDetails.Id))
                        {
                            <option selected value="@ud.FirstName @ud.LastName (@ud.Email)">@ud.FirstName @ud.LastName (@ud.Email)</option>
                        }
                        else
                        {
                            <option value="@ud.FirstName @ud.LastName (@ud.Email)">@ud.FirstName @ud.LastName (@ud.Email)</option>
                        }
                    }
                </select>
                break;
            }

            goto default;
        }

    case "number":
        {
            <input type="number" id="question-@q.Id" class="form-control question" value="@q.Answer" name="Antwoord" @(q.Required?"required":"") />
            break;
        }

    default:
        {
            <input type="text" id="question-@q.Id" class="form-control question" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            break;
        }
}
<div class="field-invalid">
    Dit veld is verplicht <br />
</div>
<div class="field-invalid-cyrilic">
    будь ласка, використовуйте лише голландську або англійську<br />
</div>