@using Ordina.StichtingNuTwente.Models.Models
@using Ordina.StichtingNuTwente.Models.ViewModels
@model InputPartialViewModel
@{
    var q = Model.Question;
}

@switch (q.InputType)
{
    case "date":
        {
            <p style="font-size: 0.8rem;">Originele waarde: @q.Answer</p>
            <input type="date" id="question-@q.Id" class="form-control question" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            break;
        }
    case "postcode":
        {
            <input type="text" placeholder="1111AA" id="question-@q.Id" class="form-control question postcode" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            <div class="field-invalid-postcode">
                Postcode moet bestaan uit 4 cijfers en 2 hoofdletters zonder spaties <br />
            </div>
            break;
        }

    @*case "vrijwilliger":
        {
            if (Model.AllUsers.Count > 0)
            {
                <p style="font-size: 0.8rem;">Origineel antwoord: @q.Answer</p>
                <select name="Antwoord" class="form-select question" id="question-@q.Id">
                    @foreach (UserDetails ud in Model.AllUsers)
                    {
                        @if ((q.Answer != null && q.Answer.Split(" ").Count() > 2 && (q.Answer.Split(" ")[2]).Contains(ud.Email)) || (q.Answer == null && Model.UserDetails != null && ud.Id == Model.UserDetails.Id))
                        {
                            <option selected value="@ud.FirstName @ud.LastName (@ud.Email)">@ud.FirstName @ud.LastName (@ud.Email)</option>
                        }
                        else
                        {
                            <option value="@ud.FirstName @ud.LastName (@ud.Email)">@ud.FirstName @ud.LastName (@ud.Email)</option>
                        }
                    }
                </select>
                break;
            }

            goto default;
        }*@
    default:
        {
            <input type="text" id="question-@q.Id" class="form-control question" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            break;
        }
}
<div class="field-invalid">
    Dit veld is verplicht <br />
</div>
<div class="field-invalid-cyrilic">
    будь ласка, використовуйте лише голландську або англійську<br />
</div>