@using Ordina.StichtingNuTwente.Models.Models
@using Ordina.StichtingNuTwente.Models.ViewModels
@model InputPartialViewModel
@{
    var q = Model.Question;
}

@switch (q.InputType)
{
    case "checkbox":
        {
            <p style="font-size: 0.8rem;">Origineel antwoord: @q.Answer</p>
            @foreach (string cbOption in @q.InputOptions)
            {

                if (cbOption.Contains("namelijk:", StringComparison.OrdinalIgnoreCase))
                {
                    string other = "";
                    if (@q.Answer != null)
                    {
                        var answerString = q.Answer.Replace("ja, namelijk:","", StringComparison.OrdinalIgnoreCase)
                                                   .Replace("anders, namelijk:","", StringComparison.OrdinalIgnoreCase)
                                                   .Replace("opmerking, namelijk:","", StringComparison.OrdinalIgnoreCase);
                        var answers = answerString.Split(";");
                        if(answers.Length <=1 ) answers = answerString.Split(",");
                        foreach (string a in answers)
                        {
                            var answer = a.Trim();
                            if (!q.InputOptions.Contains(answer, StringComparer.OrdinalIgnoreCase))
                            {
                                other += (other == "") ? answer : $", {answer}";
                            }
                        }
                    }
                    <div class="form-check">
                        <input class="form-check-input question" type="checkbox" value="@cbOption" id="question-@q.Id-other" @((q.Answer != null && q.Answer.Contains(@cbOption, StringComparison.OrdinalIgnoreCase) || @other != "")?"checked":"") @(q.Required?"required":"")>
                        <label class="form-check-label" for="question-@q.Id-other">
                            @cbOption
                        </label>
                        <input type="text" id="question-@q.Id-othertext" class="form-control question" value="@other" hidden="@((q.Answer != null && q.Answer.Contains(@cbOption, StringComparison.OrdinalIgnoreCase) || @other != "")?false:true)" name="Antwoord" @(q.Required?"required":"") />
                    </div>
                    <script>
                        $("#question-@q.Id-other").change(function() {
                            if ($(this).is(':checked')) {
                                $("#question-@q.Id-othertext").removeAttr("hidden");
                            } else {
                                $("#question-@q.Id-othertext").attr("hidden", true).val('');
                            }
                        });
                    </script>
                }
                else
                {
                    <div class="form-check">
                    <input class="form-check-input question" type="checkbox" value="@cbOption" id="question-@q.Id-@cbOption" @((q.Answer != null && q.Answer.Contains(@cbOption, StringComparison.OrdinalIgnoreCase)?"checked":"")) @(q.Required?"required":"")>
                    <label class="form-check-label" for="question-@q.Id-@cbOption">
                        @cbOption
                    </label>
                    </div>
                }
            }
            break;
        }
    case "radiobutton":
        {
            <p style="font-size: 0.8rem;">Origineel antwoord: @q.Answer</p>
            @foreach (string rbOption in @q.InputOptions)
            {
                if (rbOption.ToLower().Contains("namelijk:"))
                {
                    string other = "";
                    if (@q.Answer != null)
                    {
                        var answerString = q.Answer.Replace("ja, namelijk:","", StringComparison.OrdinalIgnoreCase)
                                                   .Replace("anders, namelijk:","", StringComparison.OrdinalIgnoreCase)
                                                   .Replace("opmerking, namelijk:","", StringComparison.OrdinalIgnoreCase);
                        var answers = answerString.Split(";");
                        if(answers.Length <=1 ) answers = answerString.Split(",");
                        foreach (string a in answers)
                        {
                            if (!q.InputOptions.Contains(a, StringComparer.OrdinalIgnoreCase))
                            {
                                other += (other == "") ? a : $",{a}";
                            }
                        }
                    }
                    <div class="form-check">
                        <input class="form-check-input question" type="radio" name="question-@q.Id" id="question-@q.Id-other" value="@rbOption" @((q.Answer != null && q.Answer.Contains(@rbOption, StringComparison.OrdinalIgnoreCase) || @other != "")?"checked":"")>
                        <label class="form-check-label" for="question-@q.Id-other">
                            @rbOption
                        </label>
                        <input type="text" id="question-@q.Id-othertext" class="form-control question" value="@other" hidden="@((q.Answer != null && q.Answer.Contains(@rbOption, StringComparison.OrdinalIgnoreCase) || @other != "")?false:true)" name="Antwoord" @(q.Required?"required":"") />
                    </div>
                    <script>
                        $(document).ready(function() {
                            $("input[name=question-@q.Id]:radio").change(function() {
                                if ($("#question-@q.Id-other").is(':checked')) {
                                    $("#question-@q.Id-othertext").removeAttr("hidden");
                                    console.log("checked");
                                } else {
                                    $("#question-@q.Id-othertext").attr("hidden", true).val('');
                                    console.log("unchecked");
                                }
                            });
                        });
                    </script>
                }
                else
                {
                    <div class="form-check">
                        <input class="form-check-input question" type="radio" name="question-@q.Id" id="question-@q.Id-@rbOption" value="@rbOption" @((q.Answer != null && q.Answer.Contains(@rbOption, StringComparison.OrdinalIgnoreCase))?"checked":"")>
                        <label class="form-check-label" for="question-@q.Id-@rbOption">
                            @rbOption
                        </label>
                    </div>
                }
            }
            break;
        }
    case "date":
        {
            <p style="font-size: 0.8rem;">Originele waarde: @q.Answer</p>
            <input type="date" id="question-@q.Id" class="form-control question" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            break;
        }
    case "postcode":
        {
            <input type="text" placeholder="1111AA" id="question-@q.Id" class="form-control question postcode" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            <div class="field-invalid-postcode">
                Postcode moet bestaan uit 4 cijfers en 2 hoofdletters zonder spaties <br />
            </div>
            break;
        }
    case "email":
        {
            <input type="text" placeholder="voorbeeld@nutwente.nl" id="question-@q.Id" class="form-control question email" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            <div class="field-invalid-email">
                Voer een geldig e-mailadres adress in <br />
            </div>
            break;
        }
    case "phoneNumber":
        {
            <input type="tel" placeholder="+31601234567" id="question-@q.Id" class="form-control question phoneNumber" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            <div class="field-invalid-phoneNumber">
                Voer een geldig telefoonnummer in, bijvoorbeeld: +31601234567 <br />
            </div>
            break;
        }
    case "optionalPhoneNumber":
        {
            <input type="tel" placeholder="+31601234567" id="question-@q.Id" class="form-control question optionalPhoneNumber" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            <div class="field-invalid-phoneNumber">
                Voer een geldig telefoonnummer in, bijvoorbeeld: +31601234567 <br />
            </div>
            break;
        }
    case "textArea":
        {
            <textarea id="question-@q.Id" rows="3" class="form-control question" name="Antwoord" size="100" @(q.Required?"required":"")>@q.Answer</textarea>
            break;
        }

    case "vrijwilliger":
        {
            if (Model.AllUsers.Count > 0)
            {
                @if (q.Answer != null)
                {
                    <p style="font-size: 0.9rem;">@q.Answer</p>
                }
                else
                {
                    <input type="text" readonly name="Antwoord" class="form-control-plaintext question" id="question-@q.Id" value="@Model.UserDetails.FirstName @Model.UserDetails.LastName (@Model.UserDetails.Email)">
                }
                break;
            }
            goto default;
        }

    case "number":
        {
            <p style="font-size: 0.8rem;">Origineel antwoord: @q.Answer</p>
            <input type="number" id="question-@q.Id" class="form-control question col-auto" value="@q.Answer" name="Antwoord" @(q.Required?"required":"") />
            break;
        }
    case "deleted":
        {
            <p style="font-size: 0.9rem;">@q.Answer</p>
            break;
        }

    default:
        {
            <input type="text" id="question-@q.Id" class="form-control question" value="@q.Answer" name="Antwoord" size="100" @(q.Required?"required":"") />
            break;
        }
}
<div class="field-invalid">
    Dit veld is verplicht <br />
</div>
<div class="field-invalid-cyrilic">
    будь ласка, використовуйте лише голландську або англійську<br />
</div>