@using Ordina.StichtingNuTwente.Models.ViewModels;
@model List<AnswerListModel>

@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div>
        <a class="btn btn-primary @(Context.Request.Query["formId"] == "1"?"disabled":"")" href="/getnutwenteoverheidreactiesspecifiek?formId=1">Filter aanmelden opvang in Twente</a>
        <a class="btn btn-primary @(Context.Request.Query["formId"] == "2"?"disabled":"")" href="/getnutwenteoverheidreactiesspecifiek?formId=2">Filter intake gastgezin Oekraïne</a>
        <a class="btn btn-primary @(Context.Request.Query["formId"] == "3"?"disabled":"")" href="/getnutwenteoverheidreactiesspecifiek?formId=3">Filter intake vluchteling Oekraïne</a>
        <a class="btn btn-primary @(Context.Request.Query["formId"] == "4"?"disabled":"")" href="/getnutwenteoverheidreactiesspecifiek?formId=4">Filter aanmelden vrijwilliger</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Link</th>
                    <th scope="col">Reactie datum</th>
                    <th scope="col">Formulier</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.ReactieId</th>
                        <td> <a href="/getnutwenteoverheidreactiesdetailniveau?id=@item.ReactieId">Bekijk Reactie</a></td>
                        <td>@item.AnswerDate</td>
                        <td><a href="/getnutwenteoverheidreactiesspecifiek?formId=@item.FormulierId">@item.FormulierNaam</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>


