@using Ordina.StichtingNuTwente.Entities
@model Ordina.StichtingNuTwente.Entities.Form
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="text-center">
        <h1 class="Title">@Html.DisplayFor(model => model.Title)</h1>
        <p>@Html.DisplayFor(model => model.Header)</p>
    </div>
</header>

<body>
    <div>

        @foreach (Section s in Model.Sections)
        {
            <div class="row" id="Section">
                <div class="text-center" style="">
                    <h3>@s.Title</h3>
                    <p>@s.Header</p>


                    @foreach (Question q in s.Questions)
                    {
                        <div class="text-center" id="Question">
                            <div class="card-title">
                                <p>@q.Number. @q.Text</p>
                                <input type="text" id="txtFirstName" name="FirstName" />
                                <br> <br>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</body>


