@using Ordina.StichtingNuTwente.Models.ViewModels;
@using System.Diagnostics
@model MijnGastgezinnenModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Mijn Gastgezinnen";
    var Index = 0;
    var newGastgezinnen = Model.MijnGastgezinnen.Count(g => !g.HeeftBekeken);
}

<body>
    <div>
        <nav class="nav nav-tabs d-flex justify-content-between">
            <h3>
                Mijn Gastgezinnen @(Model.GastgezinnenVan != null?Model.GastgezinnenVan: "")
                
                @if (newGastgezinnen > 0)
                {
                    <span class="badge bg-secondary">@newGastgezinnen Nieuw</span>
                }
            </h3>
            <div class="d-flex">
                <a class="nav-link @(string.IsNullOrEmpty(Context.Request.Query["filter"])?"active":"")" href="/MijnGastgezinnen">Alles</a>
                <a class="nav-link @(Context.Request.Query["filter"] == "Buddy"?"active":"")" href="/MijnGastgezinnen?filter=Buddy">Buddy</a>
                <a class="nav-link @(Context.Request.Query["filter"] == "Intaker"?"active":"")" href="/MijnGastgezinnen?filter=Intaker">Intaker</a>
            </div>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Naam</th>
                    <th scope="col">Adres</th>
                    <th scope="col">Woonplaats</th>
                    <th scope="col">Telefoonnummer</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Aanmelding</th>
                    <th scope="col">Intake</th>
                    <th scope="col">Geplaatst</th>
                    <th scope="col">Gereserveerd</th>
                    <th scope="col">VOG</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mijnGastgezin in Model.MijnGastgezinnen)
                {
                    Index++;
                    <tr class="@(Index%2==0?"dark-row":"light-row") @(mijnGastgezin.HeeftBekeken?"":"unseen")" id="@mijnGastgezin.Id">
                        <td>@mijnGastgezin.Naam</td>
                        <td>@mijnGastgezin.Adres</td>
                        <td>@mijnGastgezin.Woonplaats</td>
                        <td>@mijnGastgezin.Telefoonnummer</td>
                        <td>@mijnGastgezin.Email</td>
                        <td>
                            @if (mijnGastgezin.AanmeldFormulierId != 0)
                            {
                                <a href="/getnutwenteoverheidreactiesdetail25685niveau?id=@mijnGastgezin.AanmeldFormulierId" target="_blank">Aanmeld Formulier</a>
                            }
                        </td>
                        <td>
                            @if (mijnGastgezin.IntakeFormulierId > 0)
                            {
                                <a href="/getnutwenteoverheidreactiesdetail25685niveau?id=@mijnGastgezin.IntakeFormulierId" target="_blank">Intake Formulier</a>
                            }
                            else
                            {
                                <a class="btn btn-secondary" href="/GastgezinIntake?gastgezinId=@mijnGastgezin.Id" target="_blank">Nieuwe Intake</a>
                            }
                        </td>
                        <td><a href="/gastgezin?id=@mijnGastgezin.Id" target="_blank">@mijnGastgezin.PlaatsingTag</a></td>
                        <td><a href="/gastgezin?id=@mijnGastgezin.Id" target="_blank">@mijnGastgezin.ReserveTag</a></td>
                        <td>@await Html.PartialAsync("../Shared/_VOGCheckbox.cshtml", new VOGCheckboxPartial(@mijnGastgezin.HasVOG,@mijnGastgezin.Id, true))</td>
                        @if (mijnGastgezin.PlaatsingsInfo != null)
                        {
                            <td class="hoverable show" id="@Index"><img src="http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png" width="16" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                    @await Html.PartialAsync("_GastgezinPlaatsingsInfo.cshtml", new GastgezinPlaatsingsInfoPartial(mijnGastgezin.PlaatsingsInfo, Index, 11, mijnGastgezin.Note))
                }
            </tbody>
        </table>
        <hr />
    </div>
    @await Html.PartialAsync("_showItem.cshtml")
    @if (Model.GastgezinnenVan == null)
    {
        <script>
            $(".unseen").on("click", function() {
            console.log("click");
            let id = $(this).attr("id");
            $(this).removeClass("unseen");
            $.ajax({
                url: "/MarkAsRead/" + id,
                type: "PUT",
                dataType: 'text',
                success: function(){
                },
                error: function() {
                }
           });
        })
    </script>
    }
</body>



