@using Ordina.StichtingNuTwente.Models.ViewModels
@using Ordina.StichtingNuTwente.Models.Models
@model Form

@{
    ViewData["Title"] = Model.Title;

    bool updateMode = !String.IsNullOrEmpty(Context.Request.Query["id"]);

}
<div class="card">
    <div class="card-header">
        <h1 class="Title">@Html.Raw(Model.Title)</h1>
    </div>
    <div class="card-body">
        <p>@Html.Raw(Model.Header)</p>
    </div>
</div>
<br />

<body>
    <div>

        <form id="questionsForm" novalidate>

            @Html.AntiForgeryToken()
            @foreach (Section s in Model.Sections)
            {
                <div class="row" id="Section">
                    <div class="" style="">
                        <div class="card">
                            <div class="card-header">
                                <h3>@Html.Raw(s.Title)</h3>
                            </div>
                            <div class="card-body">
                                <p>@Html.Raw(s.Header)</p>


                                @foreach (Question q in s.Questions)
                                {
                                    <div class="row" id="Question">
                                        <div class="card-title">
                                            <p>@Html.Raw(q.Number). @Html.Raw(q.Text)</p>
                                            @await Html.PartialAsync("_InputSelection.cshtml", new InputPartialViewModel(){Question=q, AllUsers = Model.AllUsers, UserDetails = Model.UserDetails})
                                            <i style="font-size : 15px">@Html.Raw(q.Description)</i>
                                        </div>

                                    </div>

                                    <br>
                                }
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            }
            @if (updateMode)
            {
                <button class="btn btn-primary" id="submitbtn">Update</button>
            }
            else
            {
                <button class="btn btn-primary" id="submitbtn">Submit</button>
            }
        </form>
        @if (updateMode && User.HasClaims("groups", "group-secretariaat", "group-coordinator", "group-superadmin"))
        {
            <br />

            <br />
            <button class="btn btn-danger" id="delete">Verwijderen</button>
        }
        <br />
        <br />
    </div>
    @await Html.PartialAsync("_InputValidation.cshtml")
    @await Html.PartialAsync("_Submit.cshtml", new SubmitFormPartialViewModel(){UpdateMode = updateMode, FormId = Model.Id, GastgezinId = Model.GastgezinId})
    <script>

        $(document).ready(function () {

            $(document).keypress(function(e)
            {
                if(e.keyCode === 13)
                {
                    e.preventDefault();
                    return false;
                }
            });
            $("#delete").click(function (e) {
                if (confirm("Weet je zeker dat je dit formulier inclusief antwoorden en geassocieerde data permanent wilt verwijderen?") == true) {
                    $.ajax({
                        url: "/Home/Delete",
                        type: "DELETE",
                        dataType: 'text',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: {"id":"@Context.Request.Query["id"]"},
                        success: function(){
                            window.location = "/getnutwenteoverheidreacties987456list";
                        },
                        error: function(){
                            window.location = "/Error";
                        }
                    });
                }
            });
        });
    </script>

</body>


