@using Ordina.StichtingNuTwente.Models.ViewModels
@using Ordina.StichtingNuTwente.Models.Models
@model Form

@{
    ViewData["Title"] = Model.Title;

    bool updateMode = !String.IsNullOrEmpty(Context.Request.Query["id"]);

}

@if (Model.Deleted)
{
    <div class="row">
        <div class="col">
            <div class="card" id="TitleCard" style="background:#ff9991">
                <div class="card-body">
                    <p>
                        Verwijderd door @Model.DeletionComment?.Commenter.FirstName<br>
                        Reden: @Model.DeletionComment?.Text<br>
                        Datum: @Model.DeletionComment?.Created.ToShortDateString()
                    </p>
                </div>
            </div>
        </div>
    </div>
}
<div class="card">
    <div class="card-header">
        <h1 class="Title">@Html.Raw(Model.Title)</h1>
    </div>
    <div class="card-body">
        <p>@Html.Raw(Model.Header)</p>
    </div>
</div>
<br />

<body>
    <div>
        <form id="questionsForm" novalidate>

            @Html.AntiForgeryToken()
            @foreach (Section s in Model.Sections)
            {
                <div class="row" id="Section">
                    <div class="" style="">
                        <div class="card">
                            <div class="card-header">
                                <h3>@Html.Raw(s.Title)</h3>
                            </div>
                            <div class="card-body">
                                <p>@Html.Raw(s.Header)</p>


                                @foreach (Question q in s.Questions)
                                {
                                    <div class="row" id="Question">
                                        <div class="card-title">
                                            <p>@Html.Raw(q.Number). @Html.Raw(q.Text)</p>
                                            @await Html.PartialAsync("_InputSelection.cshtml", new InputPartialViewModel(){Question=q, AllUsers = Model.AllUsers, UserDetails = Model.UserDetails})
                                            <i style="font-size : 15px">@Html.Raw(q.Description)</i>
                                        </div>

                                    </div>

                                    <br>
                                }
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            }
            @if (updateMode)
            {
                <button class="btn btn-primary" id="submitbtn">Update</button>
            }
            else
            {
                <button class="btn btn-primary" id="submitbtn">Submit</button>
            }
        </form>
        @if (updateMode && User.HasClaims("groups", "group-secretariaat", "group-coordinator", "group-superadmin"))
        {
            <br />

            <br />
            @if (Model.Deleted)
            {
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#restoreModal" onclick="$('#restoreModal').modal('show');">Herstellen</button>
            }
            else
            {
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="$('#deleteModal').modal('show');">Verwijderen</button>
            }
        }
        <br />
        <br />
    </div>
    @if (Model.Id == 2 && Model.GastgezinId == null && !updateMode)
    {
        <div class="modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Formulier op andere manier benaderen</h5>
                    </div>
                    <div class="modal-body">
                        <p> Sinds de nieuwe update van de website ga je het liefst naar deze pagina via Mijn Overzichten -> Mijn Gastgezinnen, anders wordt dit formulier niet automatisch gekoppeld aan een gastgezin. Mocht je (nog) niet gekoppeld zijn, dan kan je gewoon door naar het formulier.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Doorgaan</button>
                        <a type="button" class="btn btn-primary" href="/MijnGastgezinnen">Naar mijn gastgezinnen</a>
                    </div>
                </div>
            </div>
        </div>
    }
    @await Html.PartialAsync("_InputValidation.cshtml")
    @await Html.PartialAsync("_Submit.cshtml", new SubmitFormPartialViewModel(){UpdateMode = updateMode, FormId = Model.Id, GastgezinId = Model.GastgezinId})

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Formulier verwijderen</h5>
                </div>
                <div class="form-group">
                    <label for="reasonForDelete">Reden voor verwijderen</label>
                    <textarea class="form-control" id="reasonForDelete" rows="3"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#deleteModal').modal('hide');">Afsluiten</button>
                    <button type="button" class="btn btn-danger" id="deleteReactie">Bevestig verwijdering</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="restoreModal" tabindex="-1" role="dialog" aria-labelledby="restoreModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="restoreModalLabel">Reactie herstellen</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#restoreModal').modal('hide');">Afsluiten</button>
                    <button type="button" class="btn btn-primary" id="restoreReactie">Bevestig herstelling</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function() {
            if ($("#confirmModal")) {
                $("#confirmModal").modal("show");
            }
            $(document).keypress(function(e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    </script>

    <script>
        $("#deleteReactie").on("click", function() {
            let id = @Context.Request.Query["id"];
            let reasonForDelete = $("#reasonForDelete").val();
            if (confirm("Weet je zeker dat je dit formulier wilt verwijderen?")) {
                $.ajax({
                    url: `/Home/Delete/${id}?comment=${reasonForDelete}`,
                    type: "DELETE",
                    dataType: 'text',
                    success: function() {
                        if (window.location.href != document.referrer) {
                            window.location = document.referrer;
                        } else {
                            window.location = "/";
                        }
                    },
                    error: function() {
                        window.location = "/Error";
                    }
                });
            }
        })
    </script>

    <script>
        $("#restoreReactie").on("click", function() {
            let id = @Context.Request.Query["id"];
            if (confirm("Weet je zeker dat je deze reactie wilt herstellen?")) {
                $.ajax({
                    url: `/Home/Restore/${id}`,
                    type: "POST",
                    dataType: 'text',
                    success: function() {
                        if (window.location.href != document.referrer) {
                            window.location = document.referrer;
                        } else {
                            window.location = "/";
                        }
                    },
                    error: function() {
                        window.location = "/Error";
                    }
                });
            }
        })
    </script>

</body>


